{% load staticfiles %}
{% load thumbnail %}    

<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">    
         
    <link href='{% static  "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" media="screen"'></script>
    <link href='{% static  "bootstrap/css/jquery.dataTables.css" %}' rel="stylesheet"></script>
    <link href='{% static  "css/style.css" %}' rel="stylesheet"></script>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
  
  </head>

<body> 

<div class="panel panel-info">     

     <div class="panel-heading">

           <div class="col-md-4"> 

                     <center><table>

                                <tr>
                                    {% thumbnail tiendas.imagen1 "x40" crop="center" as im %}
                                    <td> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    </td> 
                                    {% endthumbnail %}
                                     

                                    
                                    <td> 
                                    <form action="/busqueda_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/" method="post">
                                     {% csrf_token %}
                                     <input type="text" id="name" name="nombre" placeholder="Que buscas?" size="10"/>
                                     <input type="submit" value="Buscar">
                                     </form>
                                     </td>                                                     
                               
                                </tr >
                          </table></center> 
              


                          {%  if user.is_authenticated %}          
                              <li> Hola.!.{{ user.username }} </span></a> </li>
                           
                          {% endif %}  
                          
                         
                       

            </div>
                                                       
                 

            
                
              
             <div class="col-md-12">  
                      <a href="/" class="btn btn-warning" role="button">Inicio</a>


                     <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                        data-toggle="dropdown">
                                  Tienda <span class="caret"></span>
                                </button>
                               
                                <ul class="dropdown-menu" role="menu">
                                         <li><a href="/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}">{{tiendas.nombre_tienda}} </a></li>

                                         <li><a href="/informacion_vendedor/{{tiendas.id_usuario}}">Informacion del vendedor </a></li>

                                         <br>
                                         

                                         {%  if user.is_authenticated %}          
                                               <li><a href="/accounts/logout/">Cerrar la sesión</a></li>
                                               <br>
                                         {%  else  %}                                 
                                           <li><a href="/accounts/login">Entrar </a></li>
                                           <br>
                                           <li><a href="/crear_usuario">Registrarme</a></li>
                                           <br>
                                         {% endif %}  
                                                                            
                                  
                                </ul>
                       </div>

                        <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                        data-toggle="dropdown">
                                  Ver <span class="caret"></span>
                                </button>
                               
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/xproductox">Todos los productos</a></li> 
                                  {%  for i in categoria %}
                                      <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{i}}">{{i}}</a></li>
                                   {%  endfor %} 

 
                        




                                </ul>
                       </div>

          {%  if user.is_authenticated and user.username == tiendas.id_usuario %}          
             
                         <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle"
                                        data-toggle="dropdown">
                                      Tienda <span class="caret"></span>
                                </button>

                                   <ul class="dropdown-menu" role="menu">
                                       <li><a href="/crear_producto/{{user.username}}/{{tiendas.nombre_tienda}}">Subir un producto </a></li>      
                                       <li><a href="/editar_tienda/{{tiendas.id}}">Editar mi tienda </a></li>
                                       <li><a href="/ver_mis_mensajes/TODOS/EL_VENDEDOR">Ver mensajes </a>
                                       <li><a href="/ver_el_carrito/ATENDER_PEDIDOS/EL_VENDEDOR">Ver pedidos </a>
                                       <br>
                                       

                                    {% ifequal var 'PEDIDOS' %}
                                     
                                       <li><a href="/hacer_pedido/{{user.username}}/{{tiendas.nombre_tienda}}">Ingresar pedido</a></li>
                                        <li><a href="/listado_pedido/{{user.username}}/{{tiendas.nombre_tienda}}/ENCARGADO">Ver pedidos encargados </a></li>
                                        <li><a href="/listado_pedido/{{user.username}}/{{tiendas.nombre_tienda}}/PRODUCCION">ver pedidos en produccion </a></li>
                                        <li><a href="/listado_pedido/{{user.username}}/{{tiendas.nombre_tienda}}/EMPACADO">ver los pedidos empacados </a></li>
                                        <li><a href="/listado_pedido/{{user.username}}/{{tiendas.nombre_tienda}}/ENTREGADO">Ver los pedidos entregados </a></li>
                                        <li><a href="/listado_pedido/{{user.username}}/{{tiendas.nombre_tienda}}/TODOS">ver todos los pedidos</a></li>

                                    {% endifequal %}
                                   </ul>                   
                         </div>

                          
            {% endif %}
               

               </div> 

      </div>

    <div class="panel-body">  
    

    <div class="col-md-12">  
    <li><a href="/informacion_vendedor/{{tiendas.id_usuario}}">Informacion de pago del vendedor </a></li>
    {% block content %}
    {% endblock %}
    </div>
 

 </div>

</div>



        
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title"><center>Direccion  {{tiendas.ubicacion}}: #WhatsApp: {{tiendas.id_usuario}}</center></h2>   

<a href='whatsapp://send?text= http://detodonegocio.com/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}' data-action='share/whatsapp/share' ><img src='{% static "whatssapp-sharing.png" %}' style='height:20px !important;' title='Compartir por whatsapp' /></a>                  

       

<a href="https://www.facebook.com/sharer/sharer.php?u=www.detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}"><img src='{% static "facebook.png" %}' alt='img' ></a>

                               



             
      </div>

    <div class="panel-body">    
                                      

    </div>

  </div>
  

    <script src='{% static "bootstrap/js/jquery.min.js" %}' ></script>
    <script src='{% static  "bootstrap/js/bootstrap.min.js" %}'></script>

  </body>
</html>




