{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
    

 <div class="row">   
 <div class="col-md-4">
 </div>

<div class="col-md-4">
          <div id="contenedor">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            

            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
             
          </ol>
          <div class="carousel-inner">

     {% thumbnail productos.imagen1 "200" crop="center" as im %}                              
 <div class="active item"> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></div>
    {% endthumbnail %}

 {% thumbnail productos.imagen2 "200" crop="center" as im %}                              
 <div class="item"> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></div>
    {% endthumbnail %}
            
   {% thumbnail productos.imagen3 "200" crop="center" as im %}                              
 <div class="item"> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></div>
    {% endthumbnail %}          
    
            
          </div>
          <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
</div>
</div>


 <div class="col-md-4">
 </div>
           
      
</div>
                

{% endblock %}



