{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
     
<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>Detalle del Pedido </center></h2>                
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-8">
                <div class="thumbnail">                                    
                                  
                            <table BORDER="3" CELLSPACING="5">
                                <tr  align="center">
                                    <td WIDTH="50">Cant</td>
                                    <td WIDTH="200">Descrip</td>
                                    <td WIDTH="50">P/U</td>
                                    <td WIDTH="50">Total</td>
                                </tr >

                                {% for item in cart %}  

                                <tr  align="center">                                  
                              
                                    <td WIDTH="50">{{ item.quantity }}</td> 
                                    <td WIDTH="200">{{ item.product }}</td>  
                                    <td WIDTH="50">{{ item.unit_price }}</td> 
                                    <td WIDTH="50">{{ item.total_price }}</td>
                                </tr>                                  
                                {% endfor %}
                                 <br>
                            </table>
                             <br> 
                             <h2><center>Total a pagar: {{ total }} </center></h2>
                              
                             <br>

                              <li><a href="/get_cart/1/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}">Enviar este pedido al vendedor</a></li>
                              <br>
                              <div class="row"> 

                    <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20informacion"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://{{j.id_usuario}}"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center>

                 </div>
                              
                              
                                                                 
                </div>
            </div>
            
          </div>

        </div>
  </div>
   

{% endblock %}




















                  

         
          







 