{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
    

 
<div class="alert alert-danger">

 <div class="row">  



<div class="col-md-4">  

{%  if productos.imagen1 %}

<div class="thumbnail">
<div class="container"> 

<div class="row">   

        <div class="col-md-4"> 
        </div> 

        <div class="col-md-4">  

  


        <h5><center>  {{productos.nombre}}  </center></h5> 
       <h6> <p>{{productos.descripcion | linebreaks}}</p> </h6> 
        </div> 


         <div class="col-md-4">  
         </div> 

 </div> 



<div class="container"> 
    <center><table BORDER="3" CELLSPACING="5"  bordercolor="red ">                          
     <tr  align="center">  
          {% thumbnail productos.imagen1 "360" crop="center" as im %}   
        <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >

         {% endthumbnail %}
  <div class="content">

     {%  if productos.precio_de_antes %}  
             <center><strike><h6>Antes $ {{productos.precio_de_antes}}</h6></strike></center>
     {% endif %}
    
    {%  if productos.precio_B %}

                          <h6>Hoy $ {{ productos.precio_B }}</h6>
              {% else %}
                    
                    {%  if productos.precio_A %}
                          <h6>Hoy $ {{ productos.precio_A }}</h6>
                    {% endif %}

    {% endif %}
    
    
  </div>

  </tr >                       
  </table></center>
 </div>



 <form action='/agregar_producto_al_carrito/{{productos.id}}/MOSTRAR_F_UNO/' method='post'>
                              {% csrf_token %}                                
               
                       <div class="row">              
                              <center>   
                              <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                              <input type="submit" value="agregar a mi pedido" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                          </center>
                          </div>
                              
               </form>
               
<div class="row"> 
                 <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                 
                                <td WIDTH="60"><a href="/ver_el_carrito/QUIERO_PEDIR_ESTO">  <img src ='{% static "carrito.png" %}' alt='img' > </a> 

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{productos.id_usuario}}&text=detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{productos.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{productos.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    


                                </tr >
                        </table>
                        </center>
                        <br>
                 </div>



</div>
</div>

{% endif %}

</div>











<div class="col-md-4">
{%  if productos.imagen2 %}

<div class="thumbnail">
<div class="container"> 

<div class="row">   

        <div class="col-md-4"> 
        </div> 

        <div class="col-md-4">  
 
        <h5><center>  {{productos.nombre}}  </center></h5> 
       <h6> <p>{{productos.descripcion | linebreaks}}</p> </h6> 
        </div> 


         <div class="col-md-4">  
         </div> 

 </div> 



<div class="container"> 
     <center><table BORDER="3" CELLSPACING="5"  bordercolor="red ">                          
     <tr  align="center">  
  



   {% thumbnail productos.imagen2 "360" crop="center" as im %}   
  <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
  
                               
   {% endthumbnail %}
  <div class="content">

     {%  if productos.precio_de_antes %}  
             <center><strike><h6>Antes $ {{productos.precio_de_antes}}</h6></strike></center>
     {% endif %}
    {%  if productos.precio_B %}
                          <h6>Hoy $ {{ productos.precio_B }}</h6>
              {% else %}
                    
                    {%  if productos.precio_A %}
                          <h6>Hoy $ {{ productos.precio_A }}</h6>
                    {% endif %}

              {% endif %}
    
  </div>

  </tr >                       
  </table></center>
</div>



 <form action='/agregar_producto_al_carrito/{{productos.id}}/MOSTRAR_F_DOS/' method='post'>
                              {% csrf_token %}                                
               
                       <div class="row">              
                              <center>   
                              <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                              <input type="submit" value="agregar a mi pedido" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                          </center>
                          </div>
                              
               </form>
               
<div class="row"> 
                 <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                 
                                <td WIDTH="60"><a href="/ver_el_carrito/QUIERO_PEDIR_ESTO">  <img src ='{% static "carrito.png" %}' alt='img' > </a> 

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{productos.id_usuario}}&text=detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{productos.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{productos.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    


                                </tr >
                        </table>
                        </center>
                        <br>
                 </div>

</div>
</div>
{% endif %}

</div>













<div class="col-md-4">
{%  if productos.imagen3 %}

<div class="thumbnail">  
<div class="container">  


<div class="row">   

        <div class="col-md-4"> 
        </div> 

        <div class="col-md-4">  

         
        <h5><center>  {{productos.nombre}}  </center></h5> 
       <h6> <p>{{productos.descripcion | linebreaks}}</p> </h6> 
        </div> 


         <div class="col-md-4">  
         </div> 

 </div> 


<div class="container"> 
   <center><table BORDER="3" CELLSPACING="5"  bordercolor="red ">                          
   <tr  align="center">  
   {% thumbnail productos.imagen3 "360" crop="center" as im %}   
  <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
   {% endthumbnail %}
  <div class="content">
              {%  if productos.precio_de_antes %}  
             <center><strike><h6>Antes $ {{productos.precio_de_antes}}</h6></strike></center>
     {% endif %}

              {%  if productos.precio_B %}
                          <h6>Hoy $ {{ productos.precio_B }}</h6>
              {% else %}
                    
                    {%  if productos.precio_A %}
                          <h6>Hoy $ {{ productos.precio_A }}</h6>
                    {% endif %}

              {% endif %}
   
   
  </div>

  </tr >                       
  </table></center>

</div>



 <form action='/agregar_producto_al_carrito/{{productos.id}}/MOSTRAR_F_TRES/' method='post'>
                              {% csrf_token %}                                
               
                       <div class="row">              
                              <center>   
                              <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                              <input type="submit" value="agregar a mi pedido" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                          </center>
                          </div>
                              
               </form>
               
<div class="row"> 
                 <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                 
                                <td WIDTH="60"><a href="/ver_el_carrito/QUIERO_PEDIR_ESTO">  <img src ='{% static "carrito.png" %}' alt='img' > </a> 

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{productos.id_usuario}}&text=detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{productos.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{productos.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    


                                </tr >
                        </table>
                        </center>
                        <br>
                 </div>

</div>
</div>

{% endif %}


</div>

     
          



              
        




                      <div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Hola</h4>
                              </div>
                              <div class="modal-body">
                                <p>Producto agregado a la lista</p>
                              </div>
                              <div class="modal-footer">
                             <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Ok.</button>-->
                              </div>
                            </div>
                          </div>
                        </div>



                    
                              
                 



</div>
           

</div>



{% endblock %}



