{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
    

 
<div class="alert alert-danger">

 <div class="row">  



<div class="col-md-4">  

{%  if productos.imagen1 %}

<div class="thumbnail">


<div class="row">   

        <div class="col-md-4"> 
        </div> 

        <div class="col-md-4">  

  


        <h5><center>  {{productos.nombre}}  </center></h5> 
       <h6> <p>{{productos.descripcion | linebreaks}}</p> </h6> 
        </div> 


         <div class="col-md-4">  
         </div> 

 </div> 



<div class="container"> 
    
          {% thumbnail productos.imagen1 "360" crop="center" as im %}   
        <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >

         {% endthumbnail %}
 
 </div>

{% if j.descripcion.0 != "*" %} 

 <form action='/agregar_producto_al_carrito/{{productos.id}}/MOSTRAR_F_UNO/' method='post'>
                              {% csrf_token %}                                
    
    {% if var == 'MIO' %}
                         <div class="row">              
                          <center>   
                             <input type="text" name="cant"  id="cant" size="0" placeholder="cant" value="1" style="width:0px; height:0px;">
                              
                              <input type="submit" value="ESTE PRODUCTO ES MIO" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" style="font-size:12pt;color:white;background-color:green;border:2px solid #336600;padding:3px">
                              </center>
                              
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:0px; height:0px;" value="Comuniquense para hablar sobre el tema"></textarea> 
                          </center>
                          </div>

{% else %}           
                        {% if productos.precio_A > 60 %}
                   <div class="row">              
                          <center>   
                             <input type="text" name="cant"  id="cant" size="0" placeholder="cant" value="1" style="width:0px; height:0px;">
                              <input type="submit" value="ME INTERESA HABLAR SOBRE ESTO" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:0px; height:0px;" value="Comuniquense para hablar sobre el tema"></textarea> 
                          </center>
                          </div>
             


              {% else %}
               
             

                       <div class="row">              
                              <center>   
                              <input type="text" name="cant"  id="cant" size="1" placeholder="cant" value="1">
                              <input type="submit" value="agregar a mi pedido" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                          </center>
                          </div>

                  {% endif %}
{% endif %}                              
               </form>

               {% else %}

<br>
    <center> <a href="/realizar_lista_de_compras/{{j.id}}" class="btn btn-info btn-lg" role="button">Hacer lista de compras</a></center>
    <br>  
<br>

{% endif %}
               
<div class="row"> 
                 <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                 
                                <td WIDTH="60"><a href="/ver_el_carrito/QUIERO_PEDIR_ESTO">  <img src ='{% static "carrito.png" %}' alt='img' > </a> 

                                   <!--  <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone=+503{{productos.id_usuario}}&text=detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{productos.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+503{{productos.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                     -->

                                    <td WIDTH="60"><a href="/comunicacion_tienda/{{productos.tienda.id}}/WHATSAPP" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="/comunicacion_tienda/{{productos.tienda.id}}/TELEFONO" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                     


                                    


                                </tr >
                        </table>
                        </center>
                        <br>
                 </div>




</div>

{% endif %}

</div>











<div class="col-md-4">
{%  if productos.imagen2 %}

<div class="thumbnail">


<div class="row">   

        <div class="col-md-4"> 
        </div> 

        <div class="col-md-4">  
 
        <h5><center>  {{productos.nombre}}  </center></h5> 
       <h6> <p>{{productos.descripcion | linebreaks}}</p> </h6> 
        </div> 


         <div class="col-md-4">  
         </div> 

 </div> 



<div class="container"> 
    



   {% thumbnail productos.imagen2 "360" crop="center" as im %}   
  <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
  
                               
   {% endthumbnail %}
  
  <
</div>


{% if j.descripcion.0 != "*" %} 

 <form action='/agregar_producto_al_carrito/{{productos.id}}/MOSTRAR_F_DOS/' method='post'>
                              {% csrf_token %}                                
   {% if var == 'MIO' %}
                         <div class="row">              
                          <center>   
                             <input type="text" name="cant"  id="cant" size="0" placeholder="cant" value="1" style="width:0px; height:0px;">
                              
                              <input type="submit" value="ESTE PRODUCTO ES MIO" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" style="font-size:12pt;color:white;background-color:green;border:2px solid #336600;padding:3px">
                              </center>
                              
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:0px; height:0px;" value="Comuniquense para hablar sobre el tema"></textarea> 
                          </center>
                          </div>

{% else %}                     
                      {% if productos.precio_A > 60 %}
                   <div class="row">              
                          <center>   
                             <input type="text" name="cant"  id="cant" size="0" placeholder="cant" value="1" style="width:0px; height:0px;">
                              <input type="submit" value="ME INTERESA HABLAR SOBRE ESTO" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:0px; height:0px;" value="Comuniquense para hablar sobre el tema"></textarea> 
                          </center>
                          </div>
             


              {% else %}
               
             

                       <div class="row">              
                              <center>   
                              <input type="text" name="cant"  id="cant" size="1" placeholder="cant" value="1">
                              <input type="submit" value="agregar a mi pedido" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                          </center>
                          </div>

                  {% endif %}
{% endif %}                              
               </form>

               {% else %}

<br>
    <center> <a href="/realizar_lista_de_compras/{{j.id}}" class="btn btn-info btn-lg" role="button">Hacer lista de compras</a></center>
    <br>  
<br>

{% endif %}
               
<div class="row"> 
                 <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                 
                                <td WIDTH="60"><a href="/ver_el_carrito/QUIERO_PEDIR_ESTO">  <img src ='{% static "carrito.png" %}' alt='img' > </a> 

                                  <!--   <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone=+503{{productos.id_usuario}}&text=detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{productos.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+503{{productos.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                   -->  
                                   <td WIDTH="60"><a href="/comunicacion_tienda/{{productos.tienda.id}}/WHATSAPP" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="/comunicacion_tienda/{{productos.tienda.id}}/TELEFONO" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                     
                                    


                                </tr >
                        </table>
                        </center>
                        <br>
                 </div>

</div>
{% endif %}

</div>













<div class="col-md-4">
{%  if productos.imagen3 %}

<div class="thumbnail">  



<div class="row">   

        <div class="col-md-4"> 
        </div> 

        <div class="col-md-4">  

         
        <h5><center>  {{productos.nombre}}  </center></h5> 
       <h6> <p>{{productos.descripcion | linebreaks}}</p> </h6> 
        </div> 


         <div class="col-md-4">  
         </div> 

 </div> 


<div class="container"> 
   
   {% thumbnail productos.imagen3 "360" crop="center" as im %}   
  <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
   {% endthumbnail %}
  

</div>

{% if j.descripcion.0 != "*" %} 

 <form action='/agregar_producto_al_carrito/{{productos.id}}/MOSTRAR_F_TRES/' method='post'>
                              {% csrf_token %}                                
  {% if var == 'MIO' %}
                         <div class="row">              
                          <center>   
                             <input type="text" name="cant"  id="cant" size="0" placeholder="cant" value="1" style="width:0px; height:0px;">
                              
                              <input type="submit" value="ESTE PRODUCTO ES MIO" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" style="font-size:12pt;color:white;background-color:green;border:2px solid #336600;padding:3px">
                              </center>
                              
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:0px; height:0px;" value="Comuniquense para hablar sobre el tema"></textarea> 
                          </center>
                          </div>

{% else %}                           
                       {% if productos.precio_A > 60 %}
                   <div class="row">              
                          <center>   
                             <input type="text" name="cant"  id="cant" size="0" placeholder="cant" value="1" style="width:0px; height:0px;">
                              <input type="submit" value="ME INTERESA HABLAR SOBRE ESTO" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:0px; height:0px;" value="Comuniquense para hablar sobre el tema"></textarea> 
                          </center>
                          </div>
             


              {% else %}
               
             

                       <div class="row">              
                              <center>   
                              <input type="text" name="cant"  id="cant" size="1" placeholder="cant" value="1">
                              <input type="submit" value="agregar a mi pedido" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                              </center>
                            </div>
                          
                          <div class="row">  
                          <center>                            
                              <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                          </center>
                          </div>

                  {% endif %}
 {% endif %}                             
          </form>

             {% else %}

<br>
    <center> <a href="/realizar_lista_de_compras/{{j.id}}" class="btn btn-info btn-lg" role="button">Hacer lista de compras</a></center>
    <br>  
<br>

{% endif %}
               
<div class="row"> 
                 <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                 
                                <td WIDTH="60"><a href="/ver_el_carrito/QUIERO_PEDIR_ESTO">  <img src ='{% static "carrito.png" %}' alt='img' > </a> 

                                 <!--    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone=+503{{productos.id_usuario}}&text=detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{productos.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+503{{productos.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                              -->       
                                    <td WIDTH="60"><a href="/comunicacion_tienda/{{productos.tienda.id}}/WHATSAPP" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="/comunicacion_tienda/{{productos.tienda.id}}/TELEFONO" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                     


                                </tr >
                        </table>
                        </center>
                        <br>
                 </div>


</div>

{% endif %}


</div>

     
          



              
        




                      <div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Hola</h4>
                              </div>
                              <div class="modal-body">
                                <p>Producto agregado a la lista</p>
                              </div>
                              <div class="modal-footer">
                             <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Ok.</button>-->
                              </div>
                            </div>
                          </div>
                        </div>



                    
                              
                 



</div>
           

</div>



{% endblock %}



