{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
    

 <div class="row">   

        <div class="col-md-4"> 
        </div> 

        <div class="col-md-4">  
        <h4><center>  {{productos.nombre}}  </center></h4> 
        <p>{{productos.descripcion | linebreaks}}</p> 
        </div> 


         <div class="col-md-4">  
         </div> 

 </div>  

 <div class="row">  

<div class="col-md-4">  

{%  if productos.imagen1 %}

<div class="thumbnail">
<div class="container"> 
    {% thumbnail productos.imagen1 "300" crop="center" as im %}   
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
   {% endthumbnail %}
  <div class="content">

     {%  if productos.precio_de_antes %}  
             <center><strike><h1>Antes $ {{productos.precio_de_antes}}</h1></strike></center>
     {% endif %}
    
    {%  if productos.precio_B %}

                          <h4>Hoy $ {{ productos.precio_B }}</h4>
              {% else %}
                    
                    {%  if productos.precio_A %}
                          <h4>Hoy $ {{ productos.precio_A }}</h4>
                    {% endif %}

    {% endif %}
    
    <p></p>
  </div>
</div>
</div>
{% endif %}

</div>

<div class="col-md-4">

{%  if productos.imagen2 %}
<div class="thumbnail">
<div class="container"> 
  
   {% thumbnail productos.imagen2 "300" crop="center" as im %}   
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
   {% endthumbnail %}
  <div class="content">

     {%  if productos.precio_de_antes %}  
             <center><strike><h1>Antes $ {{productos.precio_de_antes}}</h1></strike></center>
     {% endif %}
    {%  if productos.precio_B %}
                          <h4>Hoy $ {{ productos.precio_B }}</h4>
              {% else %}
                    
                    {%  if productos.precio_A %}
                          <h4>Hoy $ {{ productos.precio_A }}</h4>
                    {% endif %}

              {% endif %}
    <p></p>
  </div>
</div>
</div>
{% endif %}

</div>

<div class="col-md-4">


{%  if productos.imagen3 %}
<div class="thumbnail">  
<div class="container">  
   {% thumbnail productos.imagen3 "300" crop="center" as im %}   
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
   {% endthumbnail %}
  <div class="content">
              {%  if productos.precio_de_antes %}  
             <center><strike><h1>Antes $ {{productos.precio_de_antes}}</h1></strike></center>
     {% endif %}

              {%  if productos.precio_B %}
                          <h4>Hoy $ {{ productos.precio_B }}</h4>
              {% else %}
                    
                    {%  if productos.precio_A %}
                          <h4>Hoy $ {{ productos.precio_A }}</h4>
                    {% endif %}

              {% endif %}
   
    <p></p>
  </div>
</div>
</div>

{% endif %}


</div>

     
<center>
              <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{productos.id_usuario}}&text=Xgangas_Hola%2C%20deseo%20informacion%20de%20{{productos.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{productos.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/productos.facedireccion" target="_blank"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
 </center>



</div>
           





{% endblock %}



