{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
     
<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>Pedido de productos </center></h2>                
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-8">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>Detalle del pedido</center></h4>     
                  </div>                     
                            <table BORDER="3" CELLSPACING="5">
                                <tr  align="center">
                                    <td WIDTH="100">Cantidad</td><td></td>
                                    <td WIDTH="600">Producto</td><td> </td>
                                    <td WIDTH="300">Precio_Unitario</td><td> </td>
                                    <td WIDTH="400">precio total</td>
                                </tr >

                                {% for item in cart %}  

                                <tr  align="center">                                  
                              
                                    <td WIDTH="100">{{ item.quantity }}</td> <td></td>  
                                    <td WIDTH="600">{{ item.product }}</td>  <td></td> 
                                    <td WIDTH="300">{{ item.unit_price }}</td> <td></td>  
                                    <td WIDTH="400">{{ item.total_price }}</td>
                                </tr>                                  
                                {% endfor %}
                                 <br>
                            </table>
                             <br> 
                             <h2><center>Total a pagar: {{ total }} </center></h2>
                              
                             <br>

                              <a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text={{mensaje}}"><img src='{% static "whatsapp.png" %}' alt='img'/></a>
                              
                              
                                                                 
                </div>
            </div>
            
          </div>

        </div>
  </div>
   

{% endblock %}




















                  

         
          







 