{% extends "base_tienda.html" %}
{% load thumbnail %}

{% block content %}
          
     <div class="row">   
          {% for j in productos %}                 

           <div class="col-md-2">   
                <div class="thumbnail">
                       
                       <h4><center> {{j.nombre}} {{j.estado2}}

                       <form action='/cambiar_estado_pedido/{{j.id}}' method='post'>
                        {% csrf_token %}                                             
                        <input type="submit" value="editar estado"  />                       
                       </form>
                       </center></h4> 


                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                        {% endthumbnail %}

                        {% thumbnail j.imagen2 "200" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                        {% endthumbnail %}

                        {% thumbnail j.imagen3 "200" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                        {% endthumbnail %}
                          
                       <p>{{j.descripcion}}</p> 
                       <br>
                       <p>{{j.descripcion2}}</p>                       
                            
                                                                                        
                 </div>
                      {%  if user.is_authenticated %}                                              
                             <li><a href="/editar_pedido/{{j.id}}">editar</a></li>  
                      {% endif %}     
            </div>            
                
                
           {% endfor %}  
        
       </div>
                

{% endblock %}
