{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
   
<div class="row">  
       <div class="alert alert-info">  
         <p>{{ccomercial.nombre_ccomercial}}</p>       
         <p>{{ccomercial.descripcion_ccomercial| linebreaks}}</p>
         <p>{{ccomercial.ubicacion}}</p>



<br>       

<div class="row">
          {% for j in comercio %} 
               <div class="col-md-4">   
                     <div class="thumbnail">                      
                      <li><a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                 
                             {% thumbnail j.imagen_ccomercial "360" crop="center" as im %}
                              <a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}" target="_blank"><img class="img-responsive"  src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                               {% endthumbnail %}   
                        
                        <br>
                        <p>{{j.descripcion_ccomercial | linebreaks}} </p>  
                        <br>
                         <p>{{j.ubicacion}}</p> 
                               
                               
                    </div>
               
                                                                                                  
                </div>
                     
            {% endfor %}   
 </div>

                
          
<div class="row">
          {% for j in tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' and user.username != j.administrador_junior and user.username != j.administrador_junior_1 and user.username != j.administrador_junior_2%}

{% else %}
          
               <div class="col-md-4">   
                     <div class="thumbnail">                      
                      <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}">{{j.nombre_tienda}}</a></li>
                                 
                             {% thumbnail j.imagen1 "360" crop="center" as im %}
                              <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}" ><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 

                             
                              {% endthumbnail %}               
                        <br>
                        <p>{{j.categoria}} </p>  
                        <br>
                         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{j.nombre_tienda}}">Informacion</button>
                              <div id="{{j.nombre_tienda}}" class="collapse">
                               <p>{{j.descripcion | linebreaks}}</p> 
                               <p>{{j.slogan}}</p>
                               <p>Miembro desde {{j.fecha_ingreso}}</p>   
                                                              
                              </div>
                        
                           
                   <div class="row"> 
                   
                <center><table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <!-- <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone=+503{{j.id_usuario}}&text=Hola%2C%20deseo%20informacion%20de%20{{j.nombre_tienda}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+503{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                     -->

                                     <td WIDTH="60"><a href="/comunicacion_tienda/{{j.id}}/WHATSAPP" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="/comunicacion_tienda/{{j.id}}/TELEFONO" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                     
                                   
                                </tr >
                 </table></center>
                 

                 </div> 

           <br>    

                 <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href='whatsapp://send?text= http://detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}' data-action='share/whatsapp/share' target="_blank"><img src='{% static "whatssapp-sharing.png" %}' style='height:15px !important;' title='Compartir por whatsapp' /></a></td>                                    
                                       
                                    <td WIDTH="90"><a href="https://www.facebook.com/sharer/sharer.php?u=www.detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}" target="_blank"><img src='{% static "facebook.png" %}' alt='img' ></a></td>

                                      
                                </tr >
                        </table>
                        </center> 

                        {%  if user.is_authenticated and user.username == j.id_usuario or user.is_authenticated and user.username == j.administrador_junior or user.is_authenticated and user.username == j.administrador_junior_1 or user.is_authenticated and user.username == j.administrador_junior_2 %}    
                                  
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_tienda}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/DISPONIBLE/">DISPONIBLE</a></li>
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/NO_DISPONIBLE/">NO_DISPONIBLE</a></li>    
  </ul>
</div>

{% endif %}                                                               

                                                                                                    
                    </div>
               </div>   










{% endif %}  


            {% endfor %}   
 </div>



<div class="row">          
          {% for j in productos %} 
         {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior and user.username != j.tienda.administrador_junior_1 and user.username != j.tienda.administrador_junior_2 %}

{% else %}        
           <div class="col-md-4">   
                <div class="thumbnail">

                    <table>

                                <tr>
                                    {% thumbnail tiendas.imagen1 "x40" crop="center" as im %}
                                    <td> <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-circle">
                                    </td> 
                                    {% endthumbnail %}
                                     

                                    
                                    <td>
                                      <h5><p>{{tiendas.nombre_tienda}}</p></h5> 
                                    </td>                                                     
                               
                                </tr >
                          </table>
                      
                    <center> <h6> {{j.estado_prod}}</h6>  </center>      
                   <h4><center>  {{j.nombre}}  </center></h4> 
                    {%  if j.precio_de_antes %}  
                         <center><strike>Antes $ {{j.precio_de_antes}}</strike></center>
                    {% endif %}

                       <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                <td >


              {%  if j.precio_B %}
                          <button type="button" class="btn btn-success">
                           $ <span class="badge badge-light">{{j.precio_B}}</span>
                          </button>
             {% else %}
                    
                    {%  if j.precio_A %}
                          <button type="button" class="btn btn-primary">
                           $ <span class="badge badge-light">{{j.precio_A}}</span>
                          </button>
                    {% endif %}


             {% endif %}

                                    </td> 
                                    <td >
                                       {%  if j.cantidad %}  
                            <button type="button" class="btn btn-danger">
    Cant. <span class="badge badge-light">{{j.cantidad}}</span>
                                       {% endif %}
                                   
                                    </td>                                    
                                    
                                </tr >
                        </table>
                        </center>  
                       
                         <p>{{j.descripcion | linebreaks}}</p>  
                         
                           <div class="row"> 
                           
                            
                             
                                    {% thumbnail j.imagen1 "360" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>  </td>                        
                                    {% endthumbnail %}
                             
                                <center><table>
                                <tr>
                                    {% thumbnail j.imagen2 "180" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "180" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>  </td>
                                    {% endthumbnail %}                                       
                               
                                </tr>
                          </table></center>                    
                  
                  </div>
                       
                   <br>                                                 
                 <div class="row"> 
                    <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                  <!--   <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone=+503{{j.id_usuario}}&text=detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+503{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    --> 

                                    <td WIDTH="60"><a href="/comunicacion_tienda/{{j.tienda.id}}/WHATSAPP" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="/comunicacion_tienda/{{j.tienda.id}}/TELEFONO" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                     
                                  
                                </tr >
                        </table>
                        </center>
                 </div>

                   <p>Ingreso el {{j.fecha_ingreso}}</p>
                                                                                                     
                 </div>
                </div>   
             {% endif %}               
           {% endfor %}  
               
</div>






       </div>
</div>



{% endblock %}























                  

         
          







 