{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}  



 <div class="row">  



        <div class="alert alert-danger">
                  
         <a href="/cambiar_tipo_de_vista/{{tiendas.id}}" class="alert-link"> Cambiar vista O>--, Tienes  {{tiendas.n_visitas}} visitas </a>
         <br>
                
                <center> <h4><p>{{tiendas.promocion}}</p></h4> </center>
        
    
      <h6> {{ productos.0.categoria.descripcion | linebreaks }} </h6>   
 {% for j in productos %} 

      {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior %}

{% else %}

      



{% if j.imagen1 %}
<div class="thumbnail">

   <center><table BORDER="2" CELLSPACING="5"  bordercolor="red"> 

                 <tr  align="center">     

                  <td WIDTH="125">
                       
                       <div class="row"> 
                          <h6><center> {{j.nombre}}  </center></h6>
                       </div>

                      
                      <div class="row">     
                          {% thumbnail j.imagen1 "75x75" crop="center" as im %}   
                               <a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                           {% endthumbnail %}
                      </div>                                 
                              
                                   
                  </td> 


                  <td WIDTH="275">   

                        <form action='/agregar_producto_al_carrito/{{j.id}}/MOSTRAR_F_UNO/' method='post'>
                              {% csrf_token %}                                
               

                              <div class="row">              
                                      <center>   
                                    
                            

                                {% if j.precio_A %}
                                 <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                                     <input type="submit" value="p/u $ {{ j.precio_A }} Agregar" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                                {% else %}
                                 <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                                       <input type="submit" value="p/u $ X.XX  Agregar" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"> 
                                  
                                {% endif %}

                            
                                      </center>
                                </div>
                          
                                <div class="row">  
                                    <center>                            
                                        <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                                    </center>
                                </div>
                              
               </form>
       </td>  

                              
   </table>
 </center>          
                                     
</div>                                          
                                     
{% endif %}








{% if j.imagen2 %}

<div class="thumbnail">

   <center><table BORDER="2" CELLSPACING="5"  bordercolor="red"> 

                 <tr  align="center">     

                  <td WIDTH="125">
                       
                       <div class="row"> 
                          <h6><center> {{j.nombre}}  </center></h6>
                       </div>

                      
                      <div class="row">     
                          {% thumbnail j.imagen2 "75x75" crop="center" as im %}   
                               <a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                           {% endthumbnail %}
                      </div>                                 
                              
                                   
                  </td> 


                  <td WIDTH="275">   

                        <form action='/agregar_producto_al_carrito/{{j.id}}/MOSTRAR_F_DOS/' method='post'>
                              {% csrf_token %}                                
               

                              <div class="row">              
                                      <center>   
                                    
                            

                                {% if j.precio_A %}
                                 <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                                     <input type="submit" value="p/u $ {{ j.precio_A }} Agregar" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                                {% else %}
                                 <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                                       <input type="submit" value="p/u $ X.XX  Agregar" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"> 
                                  
                                {% endif %}

                            
                                      </center>
                                </div>
                          
                                <div class="row">  
                                    <center>                            
                                        <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                                    </center>
                                </div>
                              
               </form>
       </td>  

                              
   </table>
 </center>          
                                     
</div> 


{% endif %}














{% if j.imagen3 %}

<div class="thumbnail">

   <center><table BORDER="2" CELLSPACING="5"  bordercolor="red"> 

                 <tr  align="center">     

                  <td WIDTH="125">
                       
                       <div class="row"> 
                          <h6><center> {{j.nombre}}  </center></h6>
                       </div>

                      
                      <div class="row">     
                          {% thumbnail j.imagen3 "75x75" crop="center" as im %}   
                               <a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                           {% endthumbnail %}
                      </div>                                 
                              
                                   
                  </td> 


                  <td WIDTH="275">   

                        <form action='/agregar_producto_al_carrito/{{j.id}}/MOSTRAR_F_TRES/' method='post'>
                              {% csrf_token %}                                
               

                              <div class="row">              
                                      <center>   
                                    
                            

                               {% if j.precio_A %}
                                 <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                                     <input type="submit" value="p/u $ {{ j.precio_A }} Agregar" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
                                {% else %}
                                 <input type="text" name="cant"  id="cant" size="1" placeholder="cant">
                                       <input type="submit" value="p/u $ X.XX  Agregar" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"> 
                                  
                                {% endif %}  


                            
                                      </center>
                                </div>
                          
                                <div class="row">  
                                    <center>                            
                                        <textarea name="especificacion" placeholder="Especifica como lo quieres?" id="especificacion" style="width:200px; height:45px;"></textarea> 
                                    </center>
                                </div>
                              
               </form>
       </td>  

                              
   </table>
 </center>          
                                     
</div> 

{% endif %}






                                            
                                     
                               
          

<div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Hola</h4>
                              </div>
                              <div class="modal-body">
                                <p>Producto agregado a la lista</p>
                              </div>
                              <div class="modal-footer">
                             <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Ok.</button>-->
                              </div>
                            </div>
                          </div>
  </div>












    {% endif %}   
     <hr>          
 {% endfor %}  
    

</div>
     


<div class="row">  
<div class="col-md-12">  
                                      
  
        <div class="dropup">
          <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">VER MAS PRODUCTOS
          <span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/xproductox">Todos los productos</a></li> 
        
        {%  for i in categoria %}
          <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{i}}">{{i}}</a></li>
        {%  endfor %} 
          </ul>
        </div>
          
</div>
</div>


</div>



{% endblock %}

