{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
          
     <div class="row">   
          {% for j in productos %}                 

           <div class="col-md-2">   
                <div class="thumbnail">
                       
                       <h4><center> {{j.nombre}}-->$ {{j.precio_A }}</center></h4> 
                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                        {% endthumbnail %}
                          
                       <p>{{j.descripcion | linebreaks}}</p>              

                      <p>                    
                              
                           <a href="intent://send/+{{j.id_usuario}}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" style="font-size:14px;padding:5px 12px;border-radius:5px;background-color:#189D0E;color:white;text-shadow:none;"> WhatsApp </a>    

                          <a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20adquirir%20{{j.nombre}}"><img src='{% static "logo.gif" %}' alt='img'/></a>

                          <a href=”tel://{{j.id_usuario}}”><img src='{% static "logo.gif" %}' alt='img'/></a>

                          <a href="https://m.me/j.facedireccion"><img src='{% static "logo.gif" %}' alt='img'/></a>
                      
                      {%  if user.is_authenticated %}                                              
                             <li><a href="/editar_producto/{{user.username}}/{{tiendas.nombre_tienda}}/{{j.id}}">editar</a></li>  
                      {% endif %}     
                                                                                        
                 </div>
            </div>            
                
                
           {% endfor %}  
        
       </div>
                

{% endblock %}























                  

         
          







 