{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}  



 <div class="row">   
        <div class="alert alert-danger">
                  
         <a href="#" class="alert-link"> {{tiendas.n_visitas}} visitas, {{ productos.0.categoria.descripcion | linebreaks }}</a>
         <br>
                 <h4><center>  APROVECHA ESTO !!!  </center></h4> 
                 <p>{{tiendas.promocion}}</p>
         <br>
     <!--   <form action="/comentario_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{tiendas.nombre_tienda}}/" method="post">
                     {% csrf_token %}

                     {%  if user.is_authenticated %}
                           <textarea name="comentario" style="width:200px; height:100px;">Quieres preguntar o hacer un pedido?</textarea>
                     {% else %}       
                           <p>Quiero preguntar</p>
                           <textarea name="comentario" style="width:200px; height:100px;">Quieres preguntar o hacer un pedido?</textarea>
                           <p>Mi numero de contacto es</p>
                           <input type="text" id="name" name="telefono" size="15"/>                        
                      {% endif %}         

                           <input type="submit" value="enviar">
        </form>
             -->         
<!-- </div>  AQUIE ESTABA, ESTE LO AGREE PARA COLOR DE FONDO -->
         

   {% for j in productos %} 


      {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' %}

{% else %}

           <div class="col-md-3">   
                <div class="thumbnail">
                       
                       <center>  {{j.estado_prod}}  </center>
                  <h4><center>  {{j.nombre}}  </center></h4> 
                   
                   {% if j.precio_de_antes %}  
                           <center><strike>Antes $ {{j.precio_de_antes}}</strike></center>
                   {% endif %}

                       <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                <td>
            
            {%  if j.precio_B %}
                          <button type="button" class="btn btn-success">
                           $ <span class="badge badge-light">{{j.precio_B}}</span>
                          </button>
             {% else %}
                    
                    {%  if j.precio_A %}
                          <button type="button" class="btn btn-primary">
                           $ <span class="badge badge-light">{{j.precio_A}}</span>
                          </button>
                    {% endif %}


             {% endif %}

                                    </td> 
                                    <td >
                                       {%  if j.cantidad %}  
                            <button type="button" class="btn btn-danger">
    Cant. <span class="badge badge-light">{{j.cantidad}}</span>
                                       {% endif %}
                                   
                                    </td>                                    
                                    
                                </tr >
                        </table>
                        </center>  
                        
                         <p>{{j.descripcion | linebreaks}}</p>  

                          {% ifequal var 'ENLACES' %}
                                    
                               {% if j.video_insercion %}
                               <center><iframe width="210" height="150" src={{j.video_insercion}} frameborder="0" allowfullscreen></iframe></center>
                               <br>
                               {% endif %}

                               {% if j.recurso %}                         
                                 <center><a href={{j.recurso}}>{{j.nombre_recurso}} </a></center>
                               {% endif  %} 
                               
                                {% if j.recurso_de_pago %}                         
                                <form action='/descargar/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{j.id}}/' method='post'>
                              {% csrf_token %}                                
                              <label for="username">{{j.nombre_recurso_de_pago}}</label>
                              <input type="text" name="descargar" value="1" id="descargar" size="2">                    
                              <input type="submit" value="Descargar " class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" />                               
                             
                                                  

                       </form>  

                               {% endif  %} 



                          {% endifequal %}




                         
                           <div class="row">                         
                           
                                
                                    {% thumbnail j.imagen1 "180" crop="center" as im %}
                                    <td ><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>                        
                                    {% endthumbnail %}
                                
                                <center><table>

                                <tr>
                                    {% thumbnail j.imagen2 "90" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "90" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>
                                    {% endthumbnail %}                                       
                               
                                </tr >
                          </table></center>                    
                  
                  </div>


                          <br>
                       
                       
 <div class="container">               
               
               <form action='/agregar_producto_al_carrito/{{j.id}}/' method='post'>
                              {% csrf_token %}                                
                              <input type="text" name="cant"  id="cant" size="1" placeholder="cant"> 
                              <input type="text" name="especificacion"  id="especificacion" placeholder="especificar" size="10">
                              <input type="submit" value="+" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" />
               </form>
                <H6><p><a href="/ver_el_carrito">Ver Mi pedido</a> </p> </H6>

<!--

                <form action='/add_to_cart/{{j.id}}/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/' method='post'>
                              {% csrf_token %}                                
                              <label for="username">cant</label>
                              <input type="text" name="cant" value="1" id="cant" size="2">                    
                              <input type="submit" value="Al Pedido " class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" />                               
                              <a href="/get_cart/0/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}">Ver</a> 
                                                  

                       </form>  

-->




                      <div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Hola</h4>
                              </div>
                              <div class="modal-body">
                                <p>Producto agregado a la lista</p>
                              </div>
                              <div class="modal-footer">
                             <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Ok.</button>-->
                              </div>
                            </div>
                          </div>
                        </div>

</div>


                      



                       <br>            
                             
                             
                            

                      <p>                    
                              
                 <div class="row"> 
                 <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Xgangas_Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion" target="_blank"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center>
                        <br>
                 </div>


      <form action="/comentario_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{j.nombre}}/" method="post">
                                     {% csrf_token %}

                     {%  if user.is_authenticated %}
                           <textarea name="comentario" placeholder="Preguntas..?" style="width:200px; height:50px;"></textarea>

          
                     {% else %}       
                           <textarea name="comentario"  placeholder="Preguntas..?" style="width:200px; height:50px;"></textarea>
                           
                           <input type="text" id="name" name="telefono" size="15" placeholder="Mi numero de contacto es" />                        
                      {% endif %}         

                               <input type="submit" value="enviar">
        </form>




 {%  if user.is_authenticated and user.username == tiendas.id_usuario or user.is_authenticated and user.username == tiendas.administrador_junior %}     


                   {%  if user.is_authenticated and user.username == tiendas.id_usuario  %} 
                           <center> 
                             <li><a href="/editar_producto/{{user.username}}/{{tiendas.nombre_tienda}}/{{j.id}}">editar</a></li> 
                   {% endif %}  

                
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_prod}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_producto/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{j.id}}/EN_EXISTENCIA/">EN_EXISTENCIA</a></li>
    <li><a href="/cambiar_estado_producto/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{j.id}}/EN_PRODUCCION/">EN_PRODUCCION</a></li>
    <li><a href="/cambiar_estado_producto/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{j.id}}/SOLO_POR_ENCARGO/">SOLO_POR_ENCARGO</a></li>
    <li><a href="/cambiar_estado_producto/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{j.id}}/AGOTADO/">AGOTADO</a></li>
    <li><a href="/cambiar_estado_producto/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{j.id}}/VENDIDO/">VENDIDO</a></li>
  </ul>
</div>


                  </center>  


                      {% endif %}     
                      <p>Ingreso el {{j.fecha_ingreso}}</p>                                                                     
                 </div>
            </div>            
                
    {% endif %}             
 {% endfor %}  
    

</div>
     
<div class="row">  
<div class="col-md-12">  
                                      
  
        <div class="dropup">
          <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">VER MAS PRODUCTOS
          <span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/xproductox">Todos los productos</a></li> 
        
        {%  for i in categoria %}
          <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{i}}">{{i}}</a></li>
        {%  endfor %} 
          </ul>
        </div>
          
</div>
</div>



</div>   <!--   ESTE LO AGREE PARA COLOR DE FONDO -->


{% endblock %}























                  

         
          







 