{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
                
          
<div class="row">
          {% for j in tiendas %} 
               <div class="col-md-2">   
                     <div class="thumbnail">                      
                      <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}">{{j.nombre_tienda}}</a></li>
                                 
                             {% thumbnail j.imagen1 "200" crop="center" as im %}
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        <p>{{j.categoria}}</p>  
                        <p>{{j.descripcion}}</p>                                                                       

                             {% endthumbnail %}                                                                                      
                    </div>
               </div>           
            {% endfor %}   
 </div>



<div class="row">          
          {% for j in productos %} 
                
           <div class="col-md-2">   
                <div class="thumbnail">
                      
                        <h2><center> # WhatsApp {{j.id_usuario}}</center></h2> 
                        <h4><center> {{j.cantidad}} > {{j.nombre}} $ {{j.precio_A }}</center></h4> 
                       
                          {% thumbnail j.imagen1 "200" crop="center" as im %}
                          <a href="/{{j.id_usuario}}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                          {% endthumbnail %}

                       <p>{{j.descripcion}}</p>  
                                                                    
                          <a href="intent://send/+{{j.id_usuario}}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" style="font-size:14px;padding:5px 12px;border-radius:5px;background-color:#189D0E;color:white;text-shadow:none;"> WhatsApp </a>    </p>

                          <a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20adquirir%20{{j.nombre}}">Mensaje al vendedor</a>

                          <a href=”tel://{{id_usuario}}”>LLamar al vendedor</a>

                          <a href="https://m.me/XYZ">enviar mensaje por Facebook</a>


         
                                                                                                     
                 </div>
                </div>             
           {% endfor %}  
               
</div>

{% endblock %}























                  

         
          







 