{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}  



 <div class="row">  



        <div class="alert alert-danger">
                  
         <a href="/cambiar_tipo_de_vista/{{tiendas.id}}" class="alert-link"> Cambiar vista O>--, Tienes  {{tiendas.n_visitas}} visitas, La tienda esta <font color="red">{{estado_de_la_tienda}} a esta hora</font> </a>
         <br>
                
                <center> <h4><p>{{tiendas.promocion}}</p></h4> </center>
        
    
      <h6> {{ productos.0.categoria.descripcion | linebreaks }} </h6>   

      <div class="row">  
 {% for j in productos %} 

 
 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior and user.username != j.tienda.administrador_junior_1 and user.username != j.tienda.administrador_junior_2 %}

{% else %}


       
                                   
                            


         {%  if j.imagen1 %}
         

             

                
                        
                              {% thumbnail j.imagen1 "100x100" crop="center" as im %}   
                               <a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img  style="float: left; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                        
                        
                
               
             
            {% endif %}



            {%  if j.imagen2 %}
            
            

                
                        
                              {% thumbnail j.imagen2 "100x100" crop="center" as im %}   
                               <a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img  style="float: left; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                              {% endthumbnail %}
                                                        
                      
                 
               
               
            {% endif %}



            {%  if j.imagen3 %}
            
             

                  
                       
                              {% thumbnail j.imagen3 "100x100" crop="center" as im %}   
                               <a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img  style="float: left; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                              {% endthumbnail %}
                            
                                                     
                 
              
             
            {% endif %}




    {% endif %}             
 {% endfor %}  
</div>    

</div>
     





<div class="row">  
<div class="col-md-12">  
                                      
  
        <div class="dropup">
          <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">VER MAS PRODUCTOS
          <span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/xproductox">Todos los productos</a></li> 
        
        {%  for i in categoria %}
          <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/{{i}}">{{i}}</a></li>
        {%  endfor %} 
          </ul>
        </div>
          
</div>
</div>



</div>   <!--   ESTE LO AGREE PARA COLOR DE FONDO -->


{% endblock %}

