{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
          
     <div class="row">   
          {% for j in productos %}                 

           <div class="col-md-2">   
                <div class="thumbnail">
                       
                       <h4><center> {{j.nombre}}-->$ {{j.precio_A }}</center></h4> 
                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                        {% endthumbnail %}
                          
                       <p>{{j.descripcion | linebreaks}}</p>  

                       <form action='/add_to_cart/{{j.id}}/' method='post'>
                                  {% csrf_token %}
                                
                                <label for="username">cantidad</label>
                                <input type="text" name="cant" value="1" id="cant">                    
                                <input type="submit" value="ok"  />                               
                               
                                </form>  
                              <br>            
                             
                             <li><a href="/get_cart/0/{{correotienda}}">Ver mi pedido</a></li>
                             <li><a href="/get_cart/1/{{correotienda}}">Enviar un correo al vendedor</a></li>


                      <p>                    
                              
                           <a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20adquirir%20{{j.nombre}}"><img src='{% static "whatsapp.png" %}' alt='img'/></a>

                          <a href="tel://{{j.id_usuario}}"><img src='{% static "llamar.png" %}' alt='img'/></a>

                          <a href="https://m.me/j.facedireccion"><img src='{% static "mesenger.png" %}' alt='img'/></a>
                      
                      {%  if user.is_authenticated %}                                              
                             <li><a href="/editar_producto/{{user.username}}/{{tiendas.nombre_tienda}}/{{j.id}}">editar</a></li>  
                      {% endif %}     
                                                                                        
                 </div>
            </div>            
                
                
           {% endfor %}  
        
       </div>
                

{% endblock %}























                  

         
          







 