{% load staticfiles %}   
{% load thumbnail %} 

<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">    
         
    <link href='{% static  "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" media="screen"'></script>
    <link href='{% static  "bootstrap/css/jquery.dataTables.css" %}' rel="stylesheet"></script>
    <link href='{% static  "css/style.css" %}' rel="stylesheet"></script>


    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
  
</head>



<body> 
  

<div class="panel panel-info">    

     <div class="panel-heading">

            <div class="col-md-4"> 
            </div>

            <div class="col-md-4"> 

                 <center>

                                                   
                          <form action="/busqueda/" method="post">
                                       {% csrf_token %}                                                  
                                       <center><img src='{% static "logo_cel.gif" %}' alt='img' />   
                                       <input type="text" id="name" name="nombre" size="30"/>
                                       <input type="submit" value="Buscar"></center>
                                       
                          </form>
                 
                
                          {%  if user.is_authenticated %}          
                                  <li> Bienvenido .!.{{ user.username }}  </li>
                          {% endif %}
                        
                   </center>


             </div>

             <div class="col-md-4"> 
             </div>
                
              
            
      </div>


<div class="col-md-4"> 

             <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle"
                                        data-toggle="dropdown">
                                  Inicio <span class="caret"></span>
                                </button>
                               
                                <ul class="dropdown-menu" role="menu">
                                         <li><a href="">Como Funciona este soft </a></li>

                                         
                                         {%  if user.is_authenticated %}          
                                               <li><a href="/accounts/logout/">Cerrar la sesión</a></li>
                                               <br>
                                         {%  else  %}                                 
                                           <li><a href="/accounts/login">Entrar </a></li>
                                           <br>
                                           <li><a href="/crear_usuario_cel">Registrarme</a></li>
                                           <br>
                                         {% endif %}
                                                                            
                                  
                                </ul>
                       </div>

                        <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle"
                                        data-toggle="dropdown">
                                  Ver <span class="caret"></span>
                                </button>
                               
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">Todas las centrales</a></li> 
                                    <li><a href="">Todas los transformadores</a></li>

                                </ul>
                       </div>  

                       <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle"
                                        data-toggle="dropdown">
                                  Ingresar informacion <span class="caret"></span>
                                </button>
                               
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">Una central</a></li> 
                                    <li><a href="">Un transformador</a></li>
                                    <li><a href="">Datos de laboratorio</a></li>
                                </ul>
                       
                       </div>   

                       <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle"
                                        data-toggle="dropdown">
                                  ayuda <span class="caret"></span>
                                </button>
                               
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">Manual de usuario</a></li> 
                                    <li><a href="">Analisis de resultados</a></li>
                                    <li><a href=""></a></li>
                                </ul>
                       
                       </div>  

         </div>













     <div class="panel-body">    
         <br> 
        <div class="col-md-12">                           
         {% block cel %}


         {% endblock %}
        </div>
       
   </div>
</div>




 <script src='{% static "bootstrap/js/jquery.min.js" %}' ></script>
 <script src='{% static  "bootstrap/js/bootstrap.min.js" %}'></script>
 </body>


</html>




