{% extends "base.html" %}


{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center> Confirmacion de la accion</center></h2>

             
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>GRACIAS POR REGISTRARSE  </center></h4>  
                       <br><br>

                        <p>Ya puedes publicar articulos/servicios para que sean vistos por todos,
                         te deseamos suerteen tus negocios  </p>
                        <br>

                       <p>Contrata un plan Tienda-publicidad y podras tener todos los beneficios de Carritode compras, Categorias en tu tienda, publicidad efectiva, te garantizamos la mejor venta  </p>
                      <br><br>


                    <li><a href="/listado_cursos/mios">CONTRATAR UN PLAN TIENDA-PUBLICIDAD</a></li>
                    <br>
                    <li><a href="/listado_cursos/todos">IR PAGINA PRINCIPAL</a></li>

                    
                  </div>                  
                   

                
                  
                </div>
            </div>


          </div>

        </div>
  </div>







 
           

        

{% endblock %}


{ % extends "base.html" %}
{ % block content %}

{ % endblock %}




















                  

         
          







 