{% extends "base.html" %}

{% load thumbnail %}
{% block content %}

{% load staticfiles %} 

    

<div class="panel panel-info">
     
      <div class="panel-heading">
        <h2 class="panel-title"><center>Gracias por registrarte. </center></h2>        
        <h4 class="panel-title"><center>Apartir de hoy puedes comprar en DETODONEGOCIO..!! solo sigue estos pasos</center></h4>           
      </div>
 <br>
    <div class="panel-body">
            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail"> 
                  <center> <a href=".">  <img src ='{% static "pasos_para_compra.png" %}' alt='img' > </a> </center>    
                                           
                  <div class="caption">


                    <h4><center></center></h4>   
                    
                  </div>                     
                  <p>En DETODONEGOCIO hemos seleccionado las mejores tiendas, los mejores productos, siempre buscaremos la manera que tu ahorres y encuentres los mejores precios</p>
                  
                  <br>
                  <p>COMO FUNCIONA</p>
                  <p>Selecciona el producto, agregalo a tu pedido y click en COMPRAR/p>

                  <br>
                  
                  <p>Si aplicas Podemos Financiar el 50% de tu compra, sin ningun costo para ti</p>
                  <br>
                  <p>Tenemos servicio de entrega a domicilio, solicitalo.</p>
                  <br>
                  <p>Garantizamos tu compra y la venta de nuestras tiendas</p>
                  <br>

                   <br>
                   
                     <li><a href="/accounts/login">Entra AQUI.! </a></li>
                    <br>
                    <li><a href="/">IR PAGINA PRINCIPAL</a></li>


                  
                  
                </div>
            </div>

       

        </div>
  </div>
  </div>
        

{% endblock %}