{% extends "base.html" %}


{% block content %}

{% load staticfiles %} 

    

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>Gracias por registrarte. </center></h2>  
        <br>
        <h2 class="panel-title"><center>Apartir de Ahora cuentas con un plan Gratis en Xgangas..!! </center></h2>           
      </div>

    <div class="panel-body">
            <div class="row">

             <div class="col-md-4">
                <div class="thumbnail"> 
                  <center> <a href=".">  <img src ='{% static "logo.gif" %}' alt='img' > </a> </center>    
                                           
                  <div class="caption">


                    <h4><center></center></h4>   
                    
                  </div>                     
                  <p>XGangas es una plataforma desarrollada para que comerciantes, profesionales vendedores y compradores puedan realizar sus transacciones comerciales, proporcionandole al vendedor un espacio virtual para mostrar sus productos y servicios de manera ordenada y al comprador una herramienta para realizar la mejor compra. Las posibilidades son infinitas. Aprovecha y disfruta de esta plataforma</p>
                  
                  <br>
                  <p>COMO FUNCIONA</p>
                  <br>
                  
                  <p>Hay que registrarse utilizando datos personales reales y tu numero de Whatsapp ademas de una contraseña de 4 digitos, con esto ya puedes crear tiendas y subir productos y/o servicios (Plan Gratuito 5 productos maximo).<p>
                  <br>

                   <p>Si el plan gratuito (5 productos maximo) no es suficiente para ti, puedes adquirir el plan que mas se adecue a tus nesecidades.</p>
                  
                  <p>los planes disponibles son </p>
                  <br>
                  <ol>Plan Gratuito 5 productos por $0 Anuales </ol>
                  <ol>Plan Básico 20 productos por $30 Anuales </ol>
                  <ol>Plan Profesional 50 productos por $30 Anuales </ol>
                  <ol>Plan Premium 150 productos por $50 Anuales </ol>           
                  <br>
                  <p>Todos los planes incluyen publicidad con inteligencia artificial  </p>
                  <br>         
                  
                </div>
            </div>

<div class="col-md-4">
               
</div>

<div class="col-md-4">
                <div class="thumbnail"> 
                    <br>
                   
                     <li><a href="/accounts/login">Entrar </a></li>
                    <br>
                    <li><a href="">IR PAGINA PRINCIPAL</a></li>

                
                                  
                </div>
            </div>
        

        </div>
  </div>
  </div>
        

{% endblock %}