{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}
{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center> Confirmacion</center></h2>

             
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>Su acción fue exitosa !!</center></h4>  
                       <br><br>
                       <li><a href="/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}"> regresar a >{{tiendas.nombre_tienda}} </a></li>
                         <br>
                        <li><a href="/">Regresar a pagina principal </a></li>

                       <br>
                                     
                    
                  </div>                  
                   

                
                  
                </div>
            </div>


          </div>

        </div>
  </div>
        
      

{% endblock %}





















                  

         
          







 