{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
     
<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>Editar este producto </center></h2>                
      </div>


    <div class="panel-body">

             <div class="col-md-6">
                <div class="thumbnail">                 

                         <form action="/editar_producto_del_carrito/" method="post" enctype="multipart/form-data"> 
                                      {% csrf_token%}

                                            <p> {{ form.as_p }} </p>

                           <p><input type="submit" value="aplicar cambio"></p>        
                         </form> 
                </div>
   
       </div>
  


  </div>
  </div>  

{% endblock %}