{% extends "base_tienda.html" %}

{% load staticfiles %} 
{% block content %}
         
        

 <div class="col-md-12">
                <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>DATOS DE PRODUCTO</center></h4>     
                      </div>   

                      <form action="." method="post" enctype="multipart/form-data" > 
                      {% csrf_token%}
                      <p>Crear categoria {{ formCateg }} </p> 
                      <input type="submit" value="crear categoria"  />                       
                      </form>

                      <form action="." method="post" enctype="multipart/form-data" > 
                       {% csrf_token%}

                     
                     <p>categoria {{ form.categoria }}  </p>       
                                         
                     <p>cantidad {{ form.cantidad }} </p>  
                     <p>nombre {{ form.nombre }}  </p>   

                     <p>imagen1 {{ form.imagen1 }} </p> 
                     <p>imagen2 {{ form.imagen2 }} </p> 
                     <p>imagen3 {{ form.imagen3 }} </p>                
                     
                     <p>descripcion {{ form.descripcion }} </p> 

                     {% ifequal var 'ENLACES' %}
                             
                               <p>Enlace al video {{ form.video_insercion }} </p>      
                               <p>Nombre del enlace {{ form.nombre_recurso }} </p>
                               <p>Enlace {{ form.recurso }} </p>  
                    
                     {% endifequal %}

                     <p>precio_A {{ form.precio_A }} </p>
                                  
                                                             
                     <br>            

                     <input type="submit" value="GUARDAR"  />                       
                         </form>
                                
                </div> 


   </div>

        
 

       

{% endblock %}























                  

         
          







 