{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
         
       
   


    <div class="alert alert-info">
      <h2 class="panel-title"><center>entrada usuario </center></h2>

            <div class="row">
          

 <div class="col-md-12">
                <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>DATOS DE USUARIO</center></h4>     
                      </div>                         
            
                                                          

                                       <form action="." method="post" enctype="multipart/form-data"> 
                                      {% csrf_token%}
                                       <table>  

                                          <p>No de WhatsApp(+503) {{ form.id_usuario }} </p> 
                                          <p>Contraseña(4 numeros) {{ form.clave }}  </p>
                                          <p>Foto {{ form.image }}  </p>

                                          <p>Nombres  {{ form.nombre }} </p>
                                          <p>Apellidos  {{ form.apellido }} </p>
                                          <p>Banco {{ form.nombre_del_banco }}</p>
                                          <p>Cuenta {{ form.numero_cuenta }} </p>                    
                                          <p>correo electronico) {{ form.email }}  </p>
                                          <p>Ciudad  {{ form.estoy_en }}  </p>
                                          <p>PLAN A CONTRATAR  {{ form.plan_tienda }}  </p>

                                                                                                           
                                      <br>
                                       </table>
                                      <p><input type="submit" value="COMPLETAR EL REGISTRO" style="font-size:12pt;color:white;background-color:green;border:2px solid #336600;padding:3px"></p>
                                      
                                      </form> 
                                      
      
      
      
      
       
       
      
                                   
                                                             
                     <br>               

                                          
                        
                </div> 


   </div>

            </div>

       </div>
  </div>

 
</form>
       

{% endblock %}
             

         
          



