{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
         
       
   
<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>entrada usuario </center></h2>

             
      </div>

    <div class="panel-body">

            <div class="row">
          

 <div class="col-md-12">
                <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>DATOS DE USUARIO</center></h4>     
                      </div>                         
                                                                      

                                       <form action="." method="post" enctype="multipart/form-data"> 
                                      {% csrf_token%}
                                       <table> 

                                        <center><p>Registrate con tu numero de telefono o WhtasApp mas una contraña de 4 caracteres</p> </center>
                                        <br>

                                        <center><p>Es muy importante que sean datos reales</p> </center>

                                        <br>
                                         <p>Nombres y apellidos personal  {{ form.nombre }} </p>
                                          <p>#WhatsApp {{ form.id_usuario }} </p> 
                                          <p>Contraseña(4 caracteres) {{ form.clave }}  </p> 
                                          <br>                                         
                                       
                                           <p><input type="submit" value="Registrarme para ver y comprar"></p>

                                           <center><p>Si quieres Vender, edita tus datos luego </p></center>
<!--
                                           <br>
                                        <p>Llena todos los campos si quieres vender tus productos y servicios aqui.</p>

                                        <br>
                                         
                                          <p>correo electronico {{ form.email }}  </p>
                                          <p>cuenta de mesenger {{ form.facedireccion }}  </p>
                                          <p>Pais y ciudad  {{ form.pais }}  </p>

                                          <br>
                                          <center><p>Datos Bancarios para tecibir pago  </p></center>
                                          
                                          <p>Banco {{ form.nombre_del_banco }}</p>
                                          <p>Cuenta {{ form.numero_cuenta }} </p>
                                           <br>
                                          <p>Todos los datos deben de ser reales, recuerda que de ello depende el exito en los negocios.</p>


                                                                                                           
                                      <br>
                                       </table>
                                      <p><input type="submit" value="QUIERO VENDER TAMBIEN"></p>
                                     -->

                                      </form> 
                                      
      
      
      
      
       
       
      
                                   
                                                             
                     <br>               

                                          
                        
                </div> 


   </div>

            </div>

       </div>
  </div>

 
</form>
       

{% endblock %}













                  

         
          







  {{ form.as_p }}