{% extends "base.html" %}
{% block content %}
         
       
   
<div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><center>ENTRADA PRODUCTO </center></h2>

             
      </div>

    <div class="panel-body">

            <div class="row">
          

 <div class="col-md-12">
                <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>PRODUCTO NUEVO</center></h4>     
                      </div>                         

                     {%  if user.is_authenticated %}  

                                       <form action="." method="post" enctype="multipart/form-data" > 
                                        {% csrf_token%}
                                        <p>Categoria: {{formCateg}} </p> 
                                       <input type="submit" value="crear categoria"  />                       
                                       </form>
                                       

                                       <form action="" method="post" enctype="multipart/form-data"> 
                                      {% csrf_token%}
                                       <table>  
                                          <p>No de WhatsApp {{ form.id_usuario }} </p> 
                                          <p>Contraseña(4 caracteres) {{ form.clave }}  </p>  
                                          <p>Categoria de su negocio {{ form.categoria }}  </p>  
                                          <p>Descripcion slogan {{ form.descripcion }}  </p>  
                                          <p>Logo de su negocio {{ form.imagen1 }}  </p>
                                          <p>ubicacion de su negocio {{ form.ubicacion }}  </p>
                                          <p>Nombre de la tienda {{ form.nombre_tienda }} </p> 
                                          <p>Plan de tienda a contratar {{ form.plan_tienda }} </p> 
                                          <p>correo electronico) {{ form.email }}  </p>                           
                                          <p>Informacion  {{ form.info }} </p>         
                                      <br>
                                       </table>
                                      <p><input type="submit" value="Contratar"></p>
                                      
                                      </form> 
                              
 
                             {%  else  %} 

                                     <form action="" method="post" enctype="multipart/form-data"> 
                                      {% csrf_token%}
                                       <table>   
                
                                    <p>No de WhatsApp {{ form.id_usuario }} </p> 
                                    <p>Contraseña(4 caracteres) {{ form.clave }}  </p>  

                                     </table>

                                      <p><input type="submit" value="Registrarme"></p>
                                      
                                      </form> 

                             {% endif %}              
                                                             
                     <br>               

                     <input type="submit" value="GUARDAR"  />                       
                        
                </div> 


   </div>

            </div>

       </div>
  </div>

 
</form>
       

{% endblock %}













                  

         
          







 