{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 


<div class="col-md-12">
          <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>NUEVA TIENDA</center></h4>  
                      </div> 
<!--
                                   
                                     
                      <form action="." method="post" enctype="multipart/form-data" > 
                            {% csrf_token%}
                            <p> {{ formCcomercial.as_p }} </p> 
                            <br>  
                            <input type="submit" value="crear centro comercial"  />                       
                      </form> 
                      <br> 
                      <p></p> 
                      <br> 
-->
                      <form action="." method="post" enctype="multipart/form-data" > 
                            {% csrf_token %}                              

                            <p> {{ form.as_p }} </p>                                                              
                           <br>             
                           <input type="submit" value="GUARDAR"  />                       
                      </form>
                                
          </div> 


</div>
      

{% endblock %}