{% extends "base_tienda.html" %}
{% load thumbnail %}

{% block content %}
          
        <div class="panel panel-warning">     

     <div class="panel-heading">

            <div class="col-md-6">                    
                      
                  {% thumbnail tiendas.imagen1 "50x50" crop="center" as im %}
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                        
                          <form action="/busqueda_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}" method="post">
                                             {% csrf_token %}
                                                                                                               
                                                      <input type="text" id="name" name="nombre" size="15"/>
                                                      <input type="submit" value="Buscar">
                                             
                                                      
                           </form>

                                                         
                 
           

             </div>
                
              
             <div class="col-md-6">  

                     <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle"
                                        data-toggle="dropdown">
                                  Inicio <span class="caret"></span>
                                </button>
                               
                                <ul class="dropdown-menu" role="menu">
                                         <li><a href="/{{user.username}}/{{tiendas.nombre_tienda}}">{{tiendas.nombre_tienda}} </a></li>
                                         <br>
                                         <li><a href="/principal">Ir a Xgangas </a></li>
                                         <br>

                                         {%  if user.is_authenticated %}          
                                               <li><a href="/accounts/logout/">Cerrar la sesión</a></li>
                                               <br>
                                         {%  else  %}                                 
                                           <li><a href="/accounts/login">Entrar </a></li>
                                           <br>
                                           <li><a href="/crear_usuario">Registrarme</a></li>
                                           <br>
                                         {% endif %}  
                                                                            
                                  
                                </ul>
                       </div>

                        <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle"
                                        data-toggle="dropdown">
                                  Ver <span class="caret"></span>
                                </button>
                               
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}/xproductox">Todos los productos</a></li> 
                                    {%  for i in productos %}
                                      <li><a href="/ver_categorias_tienda/{{tiendas.id_usuario}}/{{tiendas.nombre_tienda}}//{{i.categoria}}">{{i.categoria}}</a></li>
                                   {%  endfor %} 


                                </ul>
                       </div>

          {%  if user.is_authenticated %}          
             
                         <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle"
                                        data-toggle="dropdown">
                                  Tienda <span class="caret"></span>
                                </button>

                                     <ul class="dropdown-menu" role="menu">
                              
                           
                   
                                       <li><a href="/crear_producto/">Subir un producto </a></li>      
                                       <li><a href="/editar_tienda/{{user.username}}">Editar mi tienda </a></li>
                                     
                                       
                                </ul>
                          
                       </div>
            {% endif %}
               

               </div> 

      </div>

    <div class="panel-body">  
    <br>

    <div class="col-md-12">  
    {% block content %}
    {% endblock %}
    </div>
 

 </div>

</div>
























     <div class="row">   
          {% for j in productos %}                 

           <div class="col-md-2">   
                <div class="thumbnail">
                       
                       <h4><center> {{j.nombre}}-->$ {{j.precio_A }}</center></h4> 
                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                        {% endthumbnail %}
                          
                       <p>{{j.descripcion}}</p>              

                      <p>                    
                              
                          <a href="intent://send/+{{j.id_usuario}}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" style="font-size:14px;padding:5px 12px;border-radius:5px;background-color:#189D0E;color:white;text-shadow:none;"> WhatsApp </a>    </p>
                            
                                                                                        
                 </div>
            </div>            
                
                
           {% endfor %}  
        
       </div>
                

{% endblock %}























                  

         
          







 