{% extends "base.html" %}
{% block content %}

<form action="." method="post" enctype="multipart/form-data" > 
{% csrf_token%}
 <p>Categoria {{ formCateg }} </p> 
 <input type="submit" value="crear categoria"  />                       
 </form>
    <div class="panel-body">

            <div class="row">

               <div class="col-md-2">
               </div> 

             <div class="col-md-8">
                <div class="thumbnail">                                    
                                  
                      
                              {%  if user.is_authenticated %}  

                                      <form action="" method="post" enctype="multipart/form-data"> 
                                      {% csrf_token%}
                                       <table>  
                                          <p>No de WhatsApp {{ form.id_usuario }} </p> 
                                          <p>Contraseña(4 caracteres) {{ form.clave }}  </p>  
                                          <p>Categoria de su negocio {{ form.categoria }}  </p>  
                                          <p>Descripcion slogan {{ form.descripcion }}  </p>  
                                          <p>Logo de su negocio {{ form.imagen1 }}  </p>
                                          <p>ubicacion de su negocio {{ form.ubicacion }}  </p>
                                          <p>Nombre de la tienda {{ form.nombre_tienda }} </p> 
                                          <p>Plan de tienda a contratar {{ form.plan_tienda }} </p> 
                                          <p>correo electronico) {{ form.email }}  </p>                           
                                          <p>Informacion  {{ form.info }} </p>         
                                      <br>
                                       </table>
                                      <p><input type="submit" value="Contratar"></p>
                                      
                                      </form> 
                              
 
                             {%  else  %} 

                                     <form action="" method="post" enctype="multipart/form-data"> 
                                      {% csrf_token%}
                                       <table>   
                
                                    <p>No de WhatsApp {{ form.id_usuario }} </p> 
                                    <p>Contraseña(4 caracteres) {{ form.clave }}  </p>  

                                     </table>

                                      <p><input type="submit" value="Registrarme"></p>
                                      
                                      </form> 

                             {% endif %} 
  

                                  
                                         
                                                                          
                                   
                   
                                   
                  
                </div>
            </div>

            <div class="col-md-2">
            </div>  


          </div>

        </div>
  
           

        

{% endblock %}























                  

         
          







 