{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}
{% block content %}
      

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center> Mensajes</center></h2>

             
      </div>


    <div class="panel-body">

            <div class="row">


    <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Ver mensajes
          <span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                     <li><a href=/ver_mis_mensajes/NUEVO/EL_VENDEDOR>NUEVOS</a></li>
                     <li><a href=/ver_mis_mensajes/ATENDIDOS/EL_VENDEDOR>ATENDIDOS</a></li>
                     <li><a href=/ver_mis_mensajes/TODOS/EL_VENDEDOR>TODOS</a></li>
                     <li><a href="#">----------</a></li>

                     <li><a href=/ver_mis_mensajes/NUEVO/EL_COMPRADOR>NUEVOS</a></li>
                     <li><a href=/ver_mis_mensajes/ATENDIDOS/EL_COMPRADOR>ATENDIDOS</a></li>
                     <li><a href=/ver_mis_mensajes/TODOS/EL_COMPRADOR>TODOS</a></li>
          </ul>
    </div>

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    
                       <br>

                        {% for j in mensajes %} 


               <center>
               <table BORDER="1" CELLSPACING="1">
                            
               <tr  align="center">                                    
                                   
                          
                    <td WIDTH="400">

                          <h6> <p> {{ j.fecha }}  </p> </h6>   
                          <h6> <p> {{ j.producto.nombre }} </p></h6>

                          {% thumbnail j.producto.imagen1 "90" crop="center" as im %}
                                   <a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>                    
                                    {% endthumbnail %}

                             
                          <p> {{ j.contacto }} </p>                              
                          <p> {{ j.pregunta }} </p>
                          <h6> <p> {{ j.respuesta }} </p></h6>
                          <p> {{j.estado}} </p>

    <form action="/responder_mensaje/{{j.id}}/" method="post">
            {% csrf_token %}
            <textarea name="respuesta" placeholder="respuesta..?" id="respuesta" style="width:200px; height:50px;"></textarea>
            <input type="submit" value="reponder/cambiar respuesta">
    </form>

  
               </td> 

 
               </tr>                           
               </table>
               </center>
                             
                        {% endfor %}                  
                     
                         <br>
                        <li><a href="/">Regresar a pagina principal </a></li>

                       <br>
                                     
                    
                  </div>                  
                   

                
                  
                </div>
            </div>


          </div>

        </div>
  </div>







 
           

        

{% endblock %}
                      
                       
             

     