{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
{% load staticfiles %} 

    



    <div class="alert alert-info">
            
 <h2><center>CUENTAS DEL USUARIO </center></h2>

                <div class="thumbnail"> 
         {% thumbnail usuario.image "200" crop="center" as im %}
               <a href="" target="_blank"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  class="img-circle"></a> 
        {% endthumbnail %} 


       <p>Nombre del administrador:{{administrador.nombre}} {{administrador.apellido}}</p>
       <p>Telefono/Whatsapp: {{administrador.id_usuario}}</p>
       <p>email: {{administrador.email}} </p>
       <p>Ciudad: {{administrador.estoy_en}}</p>
       
       <p>es miembro desde: {{administrador.fecha_ingreso}} </p> 
       <br> 
       
<br>
<p>El esta evaluado con esta NOTA: {{administrador.nota_de_evaluacion}} </p> 

       <br>      
 <p> ERES EL ADMINISTRADOR DE ESTAS TIENDAS </p>
       {%  for j in tiendas_del_administrador %}
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.nombre_tienda}}</a></li>
<br>                        
                        <br>
                        {% thumbnail j.imagen1 "75" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}"> </a>                  
                        {% endthumbnail %}

                        
        
       <p> Click WatsApp({{ j.cant_click_whatsapp_acumulados }})---->{{ j.cant_click_whatsapp }}--->$ {{ j.costo_click_whatsapp }}</p>
        
       <br>
       <p>  Click Telefono({{j.cant_click_telefono_acumulados}})---->{{ j.cant_click_telefono }}--->$ {{ j.costo_click_telefono }}</p>
          
       <br>
       <p>  Click en quiero eso:({{j.cant_click_pedidos_nuevos_acumulados }})---> {{ j.cant_click_pedidos_nuevos }}---> ${{ j.costo_click_pedidos_nuevos }}</p>        
      <br>

       <p>  Ventas acumuladas(${{ j.venta_acumulada }})--->${{ j.venta_actual }}
       <p>  Porcentaje de Cobro X: % {{ j.porcentaje_venta }}
       <h>
        <br>
        {%  endfor %} 

        <hr>

        <h4> <p> CUENTAS COMO ADMINISTRADOR JUNIOR  </p></h4>  
        {% for i in vector_cuentas_administrador_jr %}
           <h5>  
              <p> total_watsapp(${{i.0}})---><font color="red"> ${{i.3}}</font> </p>
              <p> total_telefono(${{i.1}})---><font color="red"> ${{i.2}}</font> </p>
                            
              <p> total_pedidos_nuevos(${{i.4}})---><font color="red"> ${{i.4}}</font> </p>
                             
              <p> total_venta_acumulada(${{i.6}})---><font color="red">${{i.7}}</font> </p>
               
           </h5>               
        {% endfor %}


        <hr>

        <h4> <p> CUENTAS COMO ADMINISTRADOR </p></h4>  
        {% for i in vector_cuentas_administrador %}
           <h5>  
               <p> total_watsapp(${{i.0}})---><font color="red"> ${{i.3}}</font> </p>
              <p> total_telefono(${{i.1}})---><font color="red"> ${{i.2}}</font> </p>
                            
              <p> total_pedidos_nuevos(${{i.4}})---><font color="red"> ${{i.4}}</font> </p>
                             
              <p> total_venta_acumulada(${{i.6}})---><font color="red">${{i.7}}</font> </p>
           </h5>               
        {% endfor %}


 <br>      
<h4> <p> CUENTAS COMO USUARIO GLOBAL </p></h4> 
       <hr>
<h5>    
        <p> total_watsapp_acumulado ${{administrador_total_watsapp_acumulado}} </p>
        <p> total_watsapp_parcial ${{administrador_total_watsapp_parcial}} </p>>
        <p> total_telefono_acumulado ${{administrador_total_telefono_acumulado}} </p>
        <p> total_telefono_parcial ${{administrador_total_telefono_parcial}} </p>

        <p> total_pedidos_nuevos_acumulado ${{administrador_total_pedidos_nuevos_acumulado }} </p>
        <p> total_pedidos_nuevos_parcial ${{administrador_total_pedidos_nuevos_parcial}} </p>  
        <p> total_venta_acumulada ${{administrador_total_venta_acumulada}} </p>
        <p> venta_actual_parcial ${{administrador_venta_actual_parcial}} </p>
</h5>    

      
     
     
      
        
     
    




                </div>
  
  </div>
 

                

{% endblock %}
  
    
     

