{% extends "base.html" %}


{% block content %}
{% load url from future %}       

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>Todavia no tienes una tienda ?</center></h2>

             
      </div>


    <div class="panel-body">

            <div class="row">

               <div class="col-md-12">
                       <h4><center>Este usuario todavia no tiene una tienda </center></h4> 
                      
               </div> 

                       


          </div>

        </div>
  </div>
           

        

{% endblock %}























                  

         
          







 