{% extends "base_tienda.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
          
    <div class="col-md-12">
                <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>DATOS DEL PEDIDO</center></h4>     
                      </div>   
                      
                      <form action="." method="post" enctype="multipart/form-data" > 
                     {% csrf_token%}
                
                     <p>Nombre cliente {{ form.nombre }}  </p> 
                     <p>Contacto {{ form.contacto }}  </p>
                     <br>

                     <p>Tienda {{ form.tienda }} </p>   
                     <p>Tipo de prenda {{ form.tipo_prenda }}  </p> 
                     <br>
                     <p>descripcion {{ form.descripcion }} </p>  
                     <br>
                     <p>imagen1 {{ form.imagen1 }} </p> 
                     <p>imagen2 {{ form.imagen2 }} </p> 
                     <p>imagen3 {{ form.imagen3 }} </p> 
                     <br>  
                     <p>precios unitarios {{ form.precios_unitarios }} </p> 
                     <p>Total {{ form.total }} </p>
                     <p>Anticipo {{ form.anticipo }} </p>
                     <br>
                     <p>Estado {{ form.estado }} </p>
                     <br> 
                     <p>fecha_ingreso {{ form.fecha_ingreso }}<p>
                     <br>
                     <p>Fecha de entrega {{ form.fecha_de_entrega }} </p>
                     <br>                     
         

                    
                  <div class="caption">
                               <h4><center>DATOS DE TELAS</center></h4>     
                  </div>  
                  <p> cantidad de tela {{  form.cant_tela_1 }} </p>
                  <p> tipo de tela{{  form.tipo_tela_1 }} </p>
                  <p> color de tela  {{  form.color_tela_1 }} </p>
                  <br>

                  <p> cantidad de tela {{  form.cant_tela_2 }} </p>
                  <p> tipo de tela{{  form.tipo_tela_2 }} </p>
                  <p> color de tela  {{  form.color_tela_2 }} </p>
                  <br>

                  <p> cantidad de tela {{  form.cant_tela_3 }} </p>
                  <p> tipo de tela{{  form.tipo_tela_3 }} </p>
                  <p> color de tela  {{  form.color_tela_3 }} </p>
                  <br>
      
                                                             
                     <br>            

                     <input type="submit" value="GUARDAR"  />                       
                         </form>
                                
                </div> 


   </div> 

{% endblock %}