{% extends "base_tienda.html" %}
{% load thumbnail %}

{% block content %}
          
    <div class="col-md-12">
                <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>DATOS DEL PEDIDO</center></h4>     
                      </div>   

                      <form action="." method="post" enctype="multipart/form-data" > 
                      {% csrf_token%}
                      <p>Crear categoria {{ formCateg }} </p> 
                      <input type="submit" value="crear categoria"  />                       
                      </form>

                      <form action="." method="post" enctype="multipart/form-data" > 
                     {% csrf_token%}
                     <p>Codigo {{ form.codigo }} </p> 
                     <p>Tienda {{ form.tienda }} </p>   
                     <p>categoria {{ form.tipo_prenda }}  </p>                      
                     <p>nombre {{ form.nombre }}  </p> 
                     <p>contacto {{ form.contacto }}  </p>
                     <p>descripcion {{ form.descripcion }} </p>     

                     <p>imagen1 {{ form.imagen1 }} </p> 
                     <p>imagen2 {{ form.imagen2 }} </p> 
                     <p>imagen3 {{ form.imagen3 }} </p>                
                                          
                     <p>precios unitarios {{ form.descripcion2 }} </p> 

                     <p>Total {{ form.total }} </p>
                     <p>Anticipo {{ form.anticipo }} </p>
                     <p>Estado {{ form.estado }} </p>  

                     <p>Fecha de entrega {{ form.fecha_de_entrega }} </p>  

                                      
                     
                     <p> cantidad de tela {{  form.cant_tela_1 }} </p>
                  <p> tipo de tela{{  form.tipo_tela_1 }} </p>
                  <p> color de tela  {{  form.color_tela_1 }} </p>
                  <br>

                  <p> cantidad de tela {{  form.cant_tela_2 }} </p>
                  <p> tipo de tela{{  form.tipo_tela_2 }} </p>
                  <p> color de tela  {{  form.color_tela_2 }} </p>
                  <br>

                  <p> cantidad de tela {{  form.cant_tela_3 }} </p>
                  <p> tipo de tela{{  form.tipo_tela_3 }} </p>
                  <p> color de tela  {{  form.color_tela_3 }} </p>
                  <br>
      
                                                             
                     <br>            

                     <input type="submit" value="GUARDAR"  />                       
                         </form>
                                
                </div> 


   </div> 

{% endblock %}