
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}

 <div class="row">   
{% for j in nuevas_tiendas %} 
  <div class="col-md-2">   
                      
                     <div class="thumbnail">                      
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.nombre_tienda}}</a></li>
                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        <p>{{j.categoria}}</p>  
                        <p>{{j.descripcion}}</p>                                    
                        {% endthumbnail %}
                     </div>
                   </div>      
       {% endfor %} 
         
 </div>         

 <div class="row">
 {% for j in nuevos_productos %} 
     <div class="col-md-2">  
            
                 <div class="thumbnail">
                        <h4><center> {{j.nombre}} $ {{j.precio_A }}</center></h4> 
                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                                               
                        <p>{{j.descripcion | linebreaks}}</p>                    
                                           
                        <li><a href="/{{j.id_usuario}}/{{j.tienda}}/">{{j.tienda}}</a></li>
                        <br>
                         <a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20adquirir%20{{j.nombre}}"><img src='{% static "whatsapp.png" %}' alt='img'/></a>

                          <a href=”tel://{{j.id_usuario}}”><img src='{% static "llamar.png" %}' alt='img'/></a>

                          <a href="https://m.me/j.facedireccion"><img src='{% static "mesenger.png" %}' alt='img'/></a>
                                          
                  </div>
           
          </div>                        
         {% endfor %} 
       
</div>
 
 {% endblock %}
