{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
      
     
<div class="row">  
       <div class="alert alert-info">         
         <p>{{configurar.mensaje_bienvenida| linebreaks}}</p>

                <!--  <center>
<div class="col-md-12">
          <div id="contenedor">
        
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            

            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
             
          </ol>
          <div class="carousel-inner">

     {% thumbnail configurar.imagen1 "400x100" crop="center" as im %}                              
 <div class="active item"> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></div>
    {% endthumbnail %}

 {% thumbnail configurar.imagen2 "400x100" crop="center" as im %}                              
 <div class="item"> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></div>
    {% endthumbnail %}
            
   {% thumbnail configurar.imagen3 "400x100" crop="center" as im %}                              
 <div class="item"> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></div>
    {% endthumbnail %}          
    
            
          </div>
          <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
</div>
</div>
</center>
 -->






        
                 
         {%  if user.is_authenticated %}   
                     
           
         {%  else  %} 
             <br>                                
             <li><a href="/accounts/login">Entrar aqui..! </a></li>
              <br>
            <li><a href="/crear_usuario">Quieres una tienda..?   Registrarte Aqui...!</a></li>
         {% endif %}  

     
                    
 
<!--
       </div>
</div>
-->



<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->

<br>
<div class="row">
      
 
          {% for j in comercio %}  
             

                                                              
                                                    
                            {% thumbnail j.imagen_ccomercial "400x100" crop="center" as im %}
                              <a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}" target="_blank"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                            {% endthumbnail %} 

                            <li><a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>  
                                                                    
                               
                     
            {% endfor %}   
         
 </div>

<br>

<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->


<div class="row">   



{% for j in tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' and user.username != j.administrador_junior and user.username != j.administrador_junior_1 and user.username != j.administrador_junior_2 %}

{% else %}

 
               
                                         

                        {% thumbnail j.imagen1 "400x100" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}" class="responsive"> </a>
                                  
                        {% endthumbnail %}   

                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.nombre_tienda}}: <font color="red">{{j.abierto_cerrado}}</font> {{j.ubicacion}}</a></li>  

                        <center><font color="red"><h5> Normalmente preparan su pedido en: {{j.tiempo_espera}}</h5></font></center>

                        <br>                



                                  

                 

{% endif %}  
 
       
       {% endfor %} 

 
         
 </div>         
<br>




<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->



 <div class="row">

  
 {% for j in productos %} 
 
 
 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior and user.username != j.tienda.administrador_junior_1 and user.username != j.tienda.administrador_junior_2 %}

{% else %}

                           
                                         
                                                    
                               
                                    {% thumbnail j.imagen1 "400x100" crop="center" as im %}
                                    <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>                   
                                    {% endthumbnail %}
                                
                             
                                    {% thumbnail j.imagen2 "400x100" crop="center" as im %}
                                    <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                                     {% endthumbnail %}
                              
                                     {% thumbnail j.imagen3 "400x100" crop="center" as im %}
                                   <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                                    {% endthumbnail %}                                       
                            
                                    <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">

                                    {%if j.precio_A %}
                                       {{j.precio_A}}
                                    {% endif %} 

                                     {{j.nombre}}</a></li>

                                     <center><font color="red"><h5> Normalmente está listo en: {{j.tiempo_espera}}</h5></font></center>


                                     <br>
                             
                       
                        
                     

                
{% endif %}    
 
                       
         {% endfor %} 
       
   
</div>

<br>

<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->



<div class="row">

          {% for j in nuevo_comercio %} 
                     
                             {% thumbnail j.imagen_ccomercial "400x100" crop="center" as im %}
                              <a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}" target="_blank"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                               {% endthumbnail %}   

                               <li><a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                 
                                 <br>
            {% endfor %}   

 </div>



<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->

<br>


 <div class="row">   

                      
                     
{% for j in nuevas_tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' and user.username != j.administrador_junior and user.username != j.administrador_junior_1 and user.username != j.administrador_junior_2 %}

{% else %}

                   
                        
                        {% thumbnail j.imagen1 "400x100" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}"> </a>                                 
                                            
                        {% endthumbnail %}
                        
                      <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.nombre_tienda}}: <font color="red">{{j.abierto_cerrado}}</font> {{j.ubicacion}}</a></li>

                      <center><font color="red"><h5> Normalmente preparan su pedido en: {{j.tiempo_espera}}</h5></font></center>

                      <br>

  


 {% endif %}   
 
       {% endfor %} 
         
 </div>    


<br>


 <!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->  



 <div class="row">
  
 {% for j in nuevos_productos %} 

 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior and user.username != j.tienda.administrador_junior_1 and user.username != j.tienda.administrador_junior_2 %}
}

{% else %}
     
            
                
                               
                                    {% thumbnail j.imagen1 "400x100" crop="center" as im %}
                                    <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>                     
                                    {% endthumbnail %}
                                
                                    {% thumbnail j.imagen2 "400x100" crop="center" as im %}
                                   <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                                     {% endthumbnail %}
                              
                                     {% thumbnail j.imagen3 "400x100" crop="center" as im %}
                                   <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                                    {% endthumbnail %}   


                                    <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">{%if j.precio_A %}
                                       {{j.precio_A}}
                                    {% endif %}  {{j.nombre}}</a></li>

                                    <center><font color="red"><h5> Normalmente está listo en: {{j.tiempo_espera}}</h5></font></center>
                                                                 
                                         <br>
                       
            {% endif %}     
             
                    
         {% endfor %} 
            
</div>
 
<br>

<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->

<div class="row"> 


{% for j in aleatorias_tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' and user.username != j.administrador_junior and user.username != j.administrador_junior_1 and user.username != j.administrador_junior_2 %}

{% else %}
  
                                           
                        
                        {% thumbnail j.imagen1 "400x100" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}"> </a>          
                       
                                                                
                        {% endthumbnail %}
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.nombre_tienda}}:<font color="red">{{j.abierto_cerrado}}</font> {{j.ubicacion}}</a></li>

                        <center><font color="red"><h5> Normalmente preparan su pedido en: {{j.tiempo_espera}}</h5></font></center>
                    
                        <br>
 {% endif %}    
   
        
       {% endfor %} 
  
 </div>         
 <br>

<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->


 <div class="row">
  
 {% for j in aleatorias_productos %} 

 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior and user.username != j.tienda.administrador_junior_1 and user.username != j.tienda.administrador_junior_2 %}
}

{% else %}
     
            
                
                               
                                    {% thumbnail j.imagen1 "400x100" crop="center" as im %}
                                    <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>                       
                                    {% endthumbnail %}

                  
                              
                                    {% thumbnail j.imagen2 "400x100" crop="center" as im %}
                                    <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "400x100" crop="center" as im %}
                                   <a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img   class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                                    {% endthumbnail %}   


                                    <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">{%if j.precio_A %}
                                       {{j.precio_A}}
                                    {% endif %}  {{j.nombre}}</a></li>

                                    <center><font color="red"><h5> Normalmente preparan su pedido en: {{j.tiempo_espera}}</h5></font></center>
                             
                                      <br>
                    
{% endif %}  
           
                   
         {% endfor %} 
        
       
</div>


<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->

 <br>
<div class="row">

 
 <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.ubicacion}}- {{j.nombre_tienda}}</a></li>  


          {% for j in aleatorias_comercio %} 

                               
                                    
                            {% thumbnail j.imagen_ccomercial "400x100" crop="center" as im %}
                              <a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}" target="_blank"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                            {% endthumbnail %}   
                                                                               
                  <li><a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                  
                                  <br>                                             
              
          {% endfor %}   

               
                   </div>

<!--   quita este parar color de fondo -->
</div>
</div>



 {% endblock %}