
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
      
     
<div class="row">  
       <div class="alert alert-info">         
         <p>{{configurar.mensaje_bienvenida| linebreaks}}</p>
        
                 
         {%  if user.is_authenticated %}   
             <br>          
             <center><p>Gracias por usar XGANGAS</p></center>
         {%  else  %} 
             <br>                                
             <li><a href="/accounts/login">Entrar aqui..! </a></li>
              <br>
            <li><a href="/crear_usuario">Quieres una tienda..?   Registrarte Aqui...!</a></li>
         {% endif %}  

     

       </div>
</div>
<br>

<div class="row">
          {% for j in comercio %} 
               <div class="col-md-2">   
                     <div class="thumbnail">                      
                      <li><a href="/centro_comercial/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                 
                             {% thumbnail j.imagen_ccomercial "200" crop="center" as im %}
                              <a href="/centro_comercial/{{j.nombre_ccomercial}}" target="_blank"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                               {% endthumbnail %}   
                        
                        <br>
                        <p>{{j.descripcion_ccomercial | linebreaks}} </p>  
                        <br>
                         <p>{{j.ubicacion}}</p> 
                            
                               
                    </div>
               
                                                                                                  
                </div>
                     
            {% endfor %}   
 </div>

<div class="row">
          {% for j in nuevo_comercio %} 
               <div class="col-md-2">   
                     <div class="thumbnail">                      
                      <li><a href="/centro_comercial/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                 
                             {% thumbnail j.imagen_ccomercial "200" crop="center" as im %}
                              <a href="/centro_comercial/{{j.nombre_ccomercial}}" target="_blank"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                               {% endthumbnail %}   
                        
                        <br>
                        <p>{{j.descripcion_ccomercial | linebreaks}} </p>  
                        <br>
                         <p>{{j.ubicacion}}</p> 
                            
                               
                    </div>
               
                                                                                                  
                </div>
                     
            {% endfor %}   
 </div>





<div class="row">   
{% for j in tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' %}

{% else %}



  <div class="col-md-2">   

                      
                     <div class="thumbnail">                      
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.nombre_tienda}}</a></li>
                        

                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}" class="responsive"> </a>

                        <br>
                        <p>{{j.categoria }} </p>   
                        <br>

                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{j.nombre_tienda}}">Informacion</button>
                              <div id="{{j.nombre_tienda}}" class="collapse">
                               <p>{{j.descripcion | linebreaks}}</p> 
                                                       
                               <p>{{j.slogan}} </p>
                               <p>Miembro desde {{j.fecha_ingreso}}</p> 
                               
                               </div>

                        
                                                         
                        {% endthumbnail %}



                        


                        <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Xgangas_Hola%2C%20deseo%20informacion%20de%20{{j.nombre_tienda}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion" target="_blank"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center> 

                
                         <br>
                       
                        <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href='whatsapp://send?text= http://xgangas.com/{{j.id_usuario}}/{{j.nombre_tienda}}' data-action='share/whatsapp/share' target="_blank" ><img src='{% static "whatssapp-sharing.png" %}' style='height:15px !important;' title='Compartir por whatsapp' /></a></td>                                    
                                                                       
                                    <td WIDTH="90"><a href="https://www.facebook.com/sharer/sharer.php?u=www.xgangas.com/{{j.id_usuario}}/{{j.nombre_tienda}}" target="_blank"><img src='{% static "facebook.png" %}' alt='img' ></a></td>

                                     
                                </tr >
                        </table>
                        </center> 


                        {%  if user.is_authenticated and user.username == j.id_usuario or user.is_authenticated and user.username == j.administrador_junior %}    
                                  
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_tienda}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/DISPONIBLE/">DISPONIBLE</a></li>
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/NO_DISPONIBLE/">NO_DISPONIBLE</a></li>    
  </ul>
</div>

{% endif %}  

                  </div>
   </div>  

{% endif %}  

       {% endfor %} 
         
 </div>         

 <div class="row">
 {% for j in productos %} 


 
 
 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' %}

{% else %}





     <div class="col-md-2">  
            
                 <div class="thumbnail">



 
<center>  {{j.estado_prod}}  </center>
 <h4><center>  {{j.nombre}}  </center></h4> 
             
             {%  if j.precio_de_antes %}  
                   <center><strike>Antes $ {{j.precio_de_antes}}</strike></center>
             {% endif %}
 
                     <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                <td >
                   
             {%  if j.precio_B %}
                          <button type="button" class="btn btn-success">
                          Precio $ <span class="badge badge-light">{{j.precio_B}}</span>
                          </button>
             {% else %}
                    
                    {% if j.precio_A %}
                          <button type="button" class="btn btn-primary">
                          Precio $ <span class="badge badge-light">{{j.precio_A}}</span>
                          </button>
                    {% endif %}


             {% endif %}






                                    </td> 
                                    <td >
                                       {%  if j.cantidad %}  
                            <button type="button" class="btn btn-danger">
    Cant. <span class="badge badge-light">{{j.cantidad}}</span>
                                       {% endif %}
                                   
                                    </td>                                    
                                    
                                </tr >
                        </table>
                        </center>   
             


                      <p>{{j.descripcion | linebreaks}}</p>  
                         
                           <div class="row"> 
                           
                           
                               
                                    {% thumbnail j.imagen1 "200" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>                        
                                    {% endthumbnail %}
                                
                                 <center><table>

                                <tr>
                                    {% thumbnail j.imagen2 "100" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "100" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>
                                    {% endthumbnail %}                                       
                               
                                </tr>
                          </table></center>                    
                  
                  </div>              
                        <br>                   
                        <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">Ir a la tienda {{j.tienda}}</a></li>
                        <br>                                                 
 


 <center><a href="/me_interesa/{{j.id_usuario}}{{j.tienda.nombre_tienda}}/j.nombre" class="btn btn-success" role="button">Me interesa este producto</a></center>
                        
                        <br>


                 <div class="row"> 

                    <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion" target="_blank"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center>   

                 </div>

                  <p>Ingreso el {{j.fecha_ingreso}}</p> 
                                          
                  </div>
           
          </div>   
{% endif %}                     
         {% endfor %} 
       
</div>

 <div class="row">   
{% for j in nuevas_tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' %}

{% else %}


  <div class="col-md-2">   
                      
                     <div class="thumbnail">                      
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.nombre_tienda}}</a></li>
                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}"> </a>

                        <br>
                        <p>{{j.categoria}} </p>  
                       <br>
                         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{j.nombre_tienda}}">Informacion</button>
                              <div id="{{j.nombre_tienda}}" class="collapse">
                               
                               <p>{{j.descripcion | linebreaks}}</p>   
                                                       
                               <p>{{j.slogan}} </p>
                               <p>Miembro desde {{j.fecha_ingreso}}</p>  
                               <br>
                               <p>El ultimo cliente que comento Dijo: {{j.ultimo_comentario}}</p>    

                              </div>
                          
                                            
                        {% endthumbnail %}


                        <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20informacion%20de%20{{j.nombre_tienda}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion" target="_blank"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center> 

                
                         <br>
                       
                          <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href='whatsapp://send?text= http://xgangas.com/{{j.id_usuario}}/{{j.nombre_tienda}}' data-action='share/whatsapp/share' target="_blank"><img src='{% static "whatssapp-sharing.png" %}' style='height:15px !important;' title='Compartir por whatsapp' /></a></td>                                    
                                   
                                    
                                    <td WIDTH="90"><a href="https://www.facebook.com/sharer/sharer.php?u=www.xgangas.com/{{j.id_usuario}}/{{j.nombre_tienda}}" target="_blank"><img src='{% static "facebook.png" %}' alt='img' ></a></td>
                                     
                                </tr >
                        </table>
                        </center>

                        {%  if user.is_authenticated and user.username == j.id_usuario or user.is_authenticated and user.username == j.administrador_junior %}    
                                  
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_tienda}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/DISPONIBLE/">DISPONIBLE</a></li>
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/NO_DISPONIBLE/">NO_DISPONIBLE</a></li>    
  </ul>
</div>

{% endif %}  


                     </div>
   </div>  


 {% endif %}    
       {% endfor %} 
         
 </div>         

 <div class="row">
 {% for j in nuevos_productos %} 

 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' %}
}

{% else %}
     <div class="col-md-2">  
            
                 <div class="thumbnail">
                       <center>  {{j.estado_prod}}  </center>
                       <h4><center>  {{j.nombre}}  </center></h4> 
                       
                       {%  if j.precio_de_antes %}  
                            <center><strike>Antes $ {{j.precio_de_antes}}</strike></center>
                       {% endif %}

                         <center> 
                       <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                <td >

             
              {%  if j.precio_B %}
                          <button type="button" class="btn btn-success">
                          Precio $ <span class="badge badge-light">{{j.precio_B}}</span>
                          </button>
             {% else %}
                    
                    {%  if j.precio_A %}
                          <button type="button" class="btn btn-primary">
                          Precio $ <span class="badge badge-light">{{j.precio_A}}</span>
                          </button>
                    {% endif %}


             {% endif %}

                                    </td> 
                                    <td >
                                       {%  if j.cantidad %}  
                            <button type="button" class="btn btn-danger">
    Cant. <span class="badge badge-light">{{j.cantidad}}</span>
                                       {% endif %}
                                   
                                    </td>                                    
                                    
                                </tr >
                        </table>
                        </center>   
                       
                         <p>{{j.descripcion | linebreaks}}</p>  
                         
                           <div class="row"> 
                           
                            
                               
                                    {% thumbnail j.imagen1 "200" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>                        
                                    {% endthumbnail %}
                             
                                <center><table >
                                <tr>
                                    {% thumbnail j.imagen2 "100" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "100" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>
                                    {% endthumbnail %}                                       
                               
                                </tr>
                          </table></center>                    
                  
                  </div>                  
                        <br>                   
                        <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">Ir a la tienda {{j.tienda}}</a></li>
                        <br>
                         
                         

                 <div class="row"> 

                    <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Xgangas_Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion" target="_blank"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center>    

                 </div>

                    <p>Ingreso el {{j.fecha_ingreso}}</p> 
                                          
                  </div>
           
          </div>   
            {% endif %}                     
         {% endfor %} 
       
</div>
 

<div class="row">   
{% for j in aleatorias_tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' %}

{% else %}
  <div class="col-md-2">   
                      
                     <div class="thumbnail">                      
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.nombre_tienda}}</a></li>
                        {% thumbnail j.imagen1 "200" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}"> </a>

                        <br>
                        <p>{{j.categoria}} </p>  
                       <br>
                         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{j.nombre_tienda}}">Informacion</button>
                              <div id="{{j.nombre_tienda}}" class="collapse">
                               
                               <p>{{j.descripcion | linebreaks}}</p>   
                                                       
                               <p>{{j.slogan}} </p>
                               <p>Miembro desde {{j.fecha_ingreso}}</p>  
                               <br>
                               <p>El ultimo cliente que comento Dijo: {{j.ultimo_comentario}}</p>    

                              </div>
                          
                                            
                        {% endthumbnail %}


                        <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20informacion%20de%20{{j.nombre_tienda}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion" target="_blank"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center> 

                
                         <br>
                       
                          <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href='whatsapp://send?text= http://xgangas.com/{{j.id_usuario}}/{{j.nombre_tienda}}' data-action='share/whatsapp/share' target="_blank"><img src='{% static "whatssapp-sharing.png" %}' style='height:15px !important;' title='Compartir por whatsapp' /></a></td>                                    
                                   
                                    
                                    <td WIDTH="90"><a href="https://www.facebook.com/sharer/sharer.php?u=www.xgangas.com/{{j.id_usuario}}/{{j.nombre_tienda}}" target="_blank"><img src='{% static "facebook.png" %}' alt='img' ></a></td>
                                     
                                </tr >
                        </table>
                        </center>


                     </div>
   </div>  


 {% endif %}    
       {% endfor %} 
         
 </div>         

 <div class="row">
 {% for j in aleatorias_productos %} 

 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' %}
}

{% else %}
     <div class="col-md-2">  
            
                 <div class="thumbnail">
                       <center>  {{j.estado_prod}}  </center>
                       <h4><center>  {{j.nombre}}  </center></h4> 

                         <center> 
                       <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                <td >
                                        {%  if j.precio_B %}
                          <button type="button" class="btn btn-success">
                          Precio $ <span class="badge badge-light">{{j.precio_B}}</span>
                          </button>
             {% else %}
                    
                    {%  if j.precio_A %}
                          <button type="button" class="btn btn-primary">
                          Precio $ <span class="badge badge-light">{{j.precio_A}}</span>
                          </button>
                    {% endif %}


             {% endif %}

                                    </td> 
                                    <td >
                                       {%  if j.cantidad %}  
                            <button type="button" class="btn btn-danger">
    Cant. <span class="badge badge-light">{{j.cantidad}}</span>
                                       {% endif %}
                                   
                                    </td>                                    
                                    
                                </tr >
                        </table>
                        </center>   
                       
                         <p>{{j.descripcion | linebreaks}}</p>  
                         
                           <div class="row"> 
                           
                            
                               
                                    {% thumbnail j.imagen1 "200" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>                        
                                    {% endthumbnail %}
                             
                                <center><table >
                                <tr>
                                    {% thumbnail j.imagen2 "100" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "100" crop="center" as im %}
                                    <td><a href="/carrusel/{{j.id}}/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}" target="_self"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>
                                    {% endthumbnail %}                                       
                               
                                </tr>
                          </table></center>                    
                  
                  </div>                  
                        <br>                   
                        <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">Ir a la tienda {{j.tienda}}</a></li>
                        <br>
                         
                         

                 <div class="row"> 

                    <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Xgangas_Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion" target="_blank"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center>    

                        {%  if user.is_authenticated and user.username == j.id_usuario or user.is_authenticated and user.username == j.administrador_junior %}    
                                  
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_tienda}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/DISPONIBLE/">DISPONIBLE</a></li>
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/NO_DISPONIBLE/">NO_DISPONIBLE</a></li>    
  </ul>
</div>

{% endif %}  

                 </div>

                    <p>Ingreso el {{j.fecha_ingreso}}</p> 
                                          
                  </div>
           
          </div>   
            {% endif %}                     
         {% endfor %} 
       
</div>


<div class="row">
          {% for j in aleatorias_comercio %} 
               <div class="col-md-2">   
                     <div class="thumbnail">                      
                      <li><a href="/centro_comercial/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                 
                             {% thumbnail j.imagen_ccomercial "200" crop="center" as im %}
                              <a href="/centro_comercial/{{j.nombre_ccomercial}}" target="_blank"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                               {% endthumbnail %}   
                        
                        <br>
                        <p>{{j.descripcion_ccomercial | linebreaks}} </p>  
                        <br>
                         <p>{{j.ubicacion}}</p> 
                            
                               
                    </div>
               
                                                                                                  
                </div>
                     
            {% endfor %}   
 </div>


 {% endblock %}
