
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
      
     
<div class="row">  
       <div class="alert alert-info">         
         <p>{{configurar.mensaje_bienvenida| linebreaks}}</p>
        
                 
         {%  if user.is_authenticated %}   
                     
           
         {%  else  %} 
             <br>                                
             <li><a href="/accounts/login">Entrar aqui..! </a></li>
              <br>
            <li><a href="/crear_usuario">Quieres una tienda..?   Registrarte Aqui...!</a></li>
         {% endif %}  

                        
 



<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->

<br>
<div class="row">
          {% for j in comercio %} 
               <div class="col-md-3">   
                     <div class="thumbnail">                      
                      <li><a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                 
                             {% thumbnail j.imagen_ccomercial "360" crop="center" as im %}
                              <a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}" target="_blank"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                               {% endthumbnail %}   
                        
                        <br>
                        <p>{{j.descripcion_ccomercial | linebreaks}} </p>  
                        <br>
                         
                            
                               
                    </div>
               
                                                                                                  
                </div>

                  <hr>
        <hr>
        <hr>
                     
            {% endfor %}   

 </div>



<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->


<div class="row">   
{% for j in tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' and user.username != j.administrador_junior and user.username != j.administrador_junior_1 and user.username != j.administrador_junior_2 %}

{% else %}



  <div class="col-md-3">   

                      
                     <div class="thumbnail">                      
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.ubicacion}}- {{j.nombre_tienda}}</a></li>
                        

                        {% thumbnail j.imagen1 "360" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}" class="responsive"> </a>

                        <br>
          <center><h6>{{j.categoria }} </h6></center>
          <center><button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#{{j.nombre_tienda}}">ver mas..</button></center>
                              <div id="{{j.nombre_tienda}}" class="collapse">     
         
                              <div id="{{j.id_usuario}}" class="collapse">
                              <center><h6> <p>{{j.descripcion | linebreaks}}</p> </h6>
                              <br>
                                                       
                             <h6>  <p>{{j.slogan}} </p></h6>
                             <br>
                             <h6>  <p>Miembro desde {{j.fecha_ingreso}}</p> </h6></center>
                               
                               </div>

                        
                                                         
                        {% endthumbnail %}



                         <br>


                        <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{j.nombre_tienda}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="90"><a href="tel://+{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                   
                                </tr >
                        </table>
                        </center> 

                
                         <br>
                       
                        <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href='whatsapp://send?text= http://detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}' data-action='share/whatsapp/share' target="_blank" ><img src='{% static "whatssapp-sharing.png" %}' style='height:15px !important;' title='Compartir por whatsapp' /></a></td>                                    
                                                                       
                                    <td WIDTH="90"><a href="https://www.facebook.com/sharer/sharer.php?u=www.detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}" target="_blank"><img src='{% static "facebook.png" %}' alt='img' ></a></td>

                                     
                                </tr >
                        </table>
                        </center> 


                        {%  if user.is_authenticated and user.username == j.id_usuario or user.is_authenticated and user.username == j.administrador_junior or user.is_authenticated and user.username == j.administrador_junior_1 or user.is_authenticated and user.username == j.administrador_junior_2 %}    
                                  
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_tienda}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/DISPONIBLE/">DISPONIBLE</a></li>
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/NO_DISPONIBLE/">NO_DISPONIBLE</a></li>    
  </ul>
</div>

{% endif %}  

                  </div>
   </div>  

{% endif %}  
  <hr>
       
       {% endfor %} 
         
 </div>         





<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->



 <div class="row">
 {% for j in productos %} 
 
 
 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior and user.username != j.tienda.administrador_junior_1 and user.username != j.tienda.administrador_junior_2 %}

{% else %}

     <div class="col-md-3">  
            
                 <div class="thumbnail">



 
<center> <h6> {{j.estado_prod}} </h6> </center>
 <h4><center>  {{j.nombre}}  </center></h4> 
             
             {%  if j.precio_de_antes %}  
                   <center><strike>Antes $ {{j.precio_de_antes}}</strike></center>
             {% endif %}
 
                     <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                <td >
                   
             {%  if j.precio_B %}
                          <button type="button" class="btn btn-success">
                           $ <span class="badge badge-light">{{j.precio_B}}</span>
                          </button>
             {% else %}
                    
                    {% if j.precio_A %}
                          <button type="button" class="btn btn-primary">
                           $ <span class="badge badge-light">{{j.precio_A}}</span>
                          </button>
                    {% endif %}


             {% endif %}






                                    </td> 
                                    <td >
                                       {%  if j.cantidad %}  
                            <button type="button" class="btn btn-danger">
    Cant. <span class="badge badge-light">{{j.cantidad}}</span>
                                       {% endif %}
                                   
                                    </td>                                    
                                    
                                </tr >
                        </table>
                        </center>   
             


                      <p>{{j.descripcion | linebreaks}}</p>  
                         
                           <div class="row"> 
                           
                           
                               
                                    {% thumbnail j.imagen1 "360" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>                        
                                    {% endthumbnail %}
                                
                                 <center><table>

                                <tr>
                                    {% thumbnail j.imagen2 "180" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "180" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>
                                    {% endthumbnail %}                                       
                               
                                </tr>
                          </table></center>                    
                  
                  </div>              
                        <br>                   
                        <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">Ir a la tienda {{j.tienda}}</a></li>
                        <br>                                                 
 



                        
                        <br>


                 <div class="row"> 

                    <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href="https://api.whatsapp.com/send?phone=+503{{j.id_usuario}}&text=Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="90"><a href="tel://+503{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    
                                </tr >
                        </table>
                        </center>   

                 </div>

                 <h6> <p>Ingreso el {{j.fecha_ingreso}}</p> </h6>
                                          
                  </div>
           
          </div>   
{% endif %}    
  <hr>
                       
         {% endfor %} 
       
</div>



<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->



<div class="row">
          {% for j in nuevo_comercio %} 
               <div class="col-md-3">   
                     <div class="thumbnail">                      
                      <li><a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                 
                             {% thumbnail j.imagen_ccomercial "360" crop="center" as im %}
                              <a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}" target="_blank"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                               {% endthumbnail %}   
                        
                        <br>
                        <p>{{j.descripcion_ccomercial | linebreaks}} </p>  
                        <br>
                        
                            
                               
                    </div>
               
                                                                                                  
                </div>
                  <hr>
       
                     
            {% endfor %}   
 </div>



<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->



 <div class="row">   
{% for j in nuevas_tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' and user.username != j.administrador_junior and user.username != j.administrador_junior_1 and user.username != j.administrador_junior_2 %}

{% else %}


  <div class="col-md-3">   
                      
                     <div class="thumbnail">                      
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.ubicacion}}- {{j.nombre_tienda}}</a></li>
                        {% thumbnail j.imagen1 "360" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}"> </a>

                        <br>
                          
                      <center><h6>{{j.categoria }} </h6></center>
          <center><button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#{{j.nombre_tienda}}">ver mas..</button></center>
                         
                              <div id="{{j.nombre_tienda}}" class="collapse">
                               
                               <p>{{j.descripcion | linebreaks}}</p>   
                                                       
                               <p>{{j.slogan}} </p>
                               <p>Miembro desde {{j.fecha_ingreso}}</p>  
                                 

                              </div>
                          
                                            
                        {% endthumbnail %}

                         <br>
                        <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href="https://api.whatsapp.com/send?phone=+503{{j.id_usuario}}&text=Hola%2C%20deseo%20informacion%20de%20{{j.nombre_tienda}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="90"><a href="tel://+503{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                   
                                </tr >
                        </table>
                        </center> 

                
                         <br>
                       
                          <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href='whatsapp://send?text= http://detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}' data-action='share/whatsapp/share' target="_blank"><img src='{% static "whatssapp-sharing.png" %}' style='height:15px !important;' title='Compartir por whatsapp' /></a></td>                                    
                                   
                                    
                                    <td WIDTH="90"><a href="https://www.facebook.com/sharer/sharer.php?u=www.Detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}" target="_blank"><img src='{% static "facebook.png" %}' alt='img' ></a></td>
                                     
                                </tr >
                        </table>
                        </center>

                        {%  if user.is_authenticated and user.username == j.id_usuario or user.is_authenticated and user.username == j.administrador_junior or user.is_authenticated and user.username == j.administrador_junior_1 or user.is_authenticated and user.username == j.administrador_junior_2 %}    
                                  
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_tienda}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/DISPONIBLE/">DISPONIBLE</a></li>
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/NO_DISPONIBLE/">NO_DISPONIBLE</a></li>    
  </ul>
</div>

{% endif %}  


                     </div>
   </div>  


 {% endif %}   
   <hr>
        
       {% endfor %} 
         
 </div>    




 <!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->  



 <div class="row">
 {% for j in nuevos_productos %} 

 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior and user.username != j.tienda.administrador_junior_1 and user.username != j.tienda.administrador_junior_2 %}
}

{% else %}
     <div class="col-md-3">  
            
                 <div class="thumbnail">
                       <center> <h6> {{j.estado_prod}} </h6> </center>
                       <h4><center>  {{j.nombre}}  </center></h4> 
                       
                       {%  if j.precio_de_antes %}  
                            <center><strike>Antes $ {{j.precio_de_antes}}</strike></center>
                       {% endif %}

                         <center> 
                       <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                <td >

             
              {%  if j.precio_B %}
                          <button type="button" class="btn btn-success">
                           $ <span class="badge badge-light">{{j.precio_B}}</span>
                          </button>
             {% else %}
                    
                    {%  if j.precio_A %}
                          <button type="button" class="btn btn-primary">
                           $ <span class="badge badge-light">{{j.precio_A}}</span>
                          </button>
                    {% endif %}


             {% endif %}

                                    </td> 
                                    <td >
                                       {%  if j.cantidad %}  
                            <button type="button" class="btn btn-danger">
    Cant. <span class="badge badge-light">{{j.cantidad}}</span>
                                       {% endif %}
                                   
                                    </td>                                    
                                    
                                </tr >
                        </table>
                        </center>   
                       
                         <p>{{j.descripcion | linebreaks}}</p>  
                         
                           <div class="row"> 
                           
                            
                               
                                    {% thumbnail j.imagen1 "360" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>                        
                                    {% endthumbnail %}
                             
                                <center><table >
                                <tr>
                                    {% thumbnail j.imagen2 "180" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "180" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>
                                    {% endthumbnail %}                                       
                               
                                </tr>
                          </table></center>                    
                  
                  </div>                  
                        <br>                   
                        <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">Ir a la tienda {{j.tienda}}</a></li>
                        <br>
                         
                         

                 <div class="row"> 

                    <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href="https://api.whatsapp.com/send?phone=+503{{j.id_usuario}}&text=Detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="90"><a href="tel://+503{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                   
                        </table>
                        </center>    

                 </div>

                    <p>Ingreso el {{j.fecha_ingreso}}</p> 
                                          
                  </div>
           
          </div>   
            {% endif %}     
              <hr>
                    
         {% endfor %} 
       
</div>
 

<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->

<div class="row">   
{% for j in aleatorias_tiendas %} 

{% if user.username != j.id_usuario and j.estado_tienda == 'NO_DISPONIBLE' and user.username != j.administrador_junior and user.username != j.administrador_junior_1 and user.username != j.administrador_junior_2 %}

{% else %}
  <div class="col-md-3">   
                      
                     <div class="thumbnail">                      
                        <li><a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/">{{j.ubicacion}}- {{j.nombre_tienda}}</a></li>
                        {% thumbnail j.imagen1 "360" crop="center" as im %}
                        <a href="/{{j.id_usuario}}/{{j.nombre_tienda}}/"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" href="/{{j.id_usuario}}/{{j.nombre_tienda}}"> </a>

                        <br>
                       
                      <center><h6>{{j.categoria }} </h6></center>
          <center><button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#{{j.nombre_tienda}}">ver mas..</button></center>
                       
                              <div id="{{j.nombre_tienda}}" class="collapse">
                               
                               <p>{{j.descripcion | linebreaks}}</p>   
                                                       
                               <p>{{j.slogan}} </p>
                               <p>Miembro desde {{j.fecha_ingreso}}</p>  
                                  

                              </div>
                          
                                            
                        {% endthumbnail %}

                        <br>


                        <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href="https://api.whatsapp.com/send?phone=+503{{j.id_usuario}}&text=Hola%2C%20deseo%20informacion%20de%20{{j.nombre_tienda}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="90"><a href="tel://+503{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                   
                                </tr >
                        </table>
                        </center> 

                
                         <br>
                       
                          <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href='whatsapp://send?text= http://detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}' data-action='share/whatsapp/share' target="_blank"><img src='{% static "whatssapp-sharing.png" %}' style='height:15px !important;' title='Compartir por whatsapp' /></a></td>                                    
                                   
                                    
                                    <td WIDTH="90"><a href="https://www.facebook.com/sharer/sharer.php?u=www.detodonegocio.com/{{j.id_usuario}}/{{j.nombre_tienda}}" target="_blank"><img src='{% static "facebook.png" %}' alt='img' ></a></td>
                                     
                                </tr >
                        </table>
                        </center>
                        {%  if user.is_authenticated and user.username == j.id_usuario or user.is_authenticated and user.username == j.administrador_junior or user.is_authenticated and user.username == j.administrador_junior_1 or user.is_authenticated and user.username == j.administrador_junior_2 %}    
                                  
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_tienda}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/DISPONIBLE/">DISPONIBLE</a></li>
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/NO_DISPONIBLE/">NO_DISPONIBLE</a></li>    
  </ul>
</div>

{% endif %}  


                     </div>
   </div>  


 {% endif %}    
   <hr>
        
       {% endfor %} 
         
 </div>         


<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->


 <div class="row">
 {% for j in aleatorias_productos %} 

 {% if user.username != j.id_usuario and j.estado_prod == 'VENDIDO' and user.username != j.tienda.administrador_junior and user.username != j.tienda.administrador_junior_1 and user.username != j.tienda.administrador_junior_2 %}
}

{% else %}
     <div class="col-md-3">  
            
                 <div class="thumbnail">
                       <center> <h6> {{j.estado_prod}} </h6> </center>
                       <h4><center>  {{j.nombre}}  </center></h4> 

                         <center> 
                       <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                <td >
                                        {%  if j.precio_B %}
                          <button type="button" class="btn btn-success">
                           $ <span class="badge badge-light">{{j.precio_B}}</span>
                          </button>
             {% else %}
                    
                    {%  if j.precio_A %}
                          <button type="button" class="btn btn-primary">
                           $ <span class="badge badge-light">{{j.precio_A}}</span>
                          </button>
                    {% endif %}


             {% endif %}

                                    </td> 
                                    <td >
                                       {%  if j.cantidad %}  
                            <button type="button" class="btn btn-danger">
    Cant. <span class="badge badge-light">{{j.cantidad}}</span>
                                       {% endif %}
                                   
                                    </td>                                    
                                    
                                </tr >
                        </table>
                        </center>   
                       
                         <p>{{j.descripcion | linebreaks}}</p>  
                         
                           <div class="row"> 
                           
                            
                               
                                    {% thumbnail j.imagen1 "360" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>                        
                                    {% endthumbnail %}
                             
                                <center><table >
                                <tr>
                                    {% thumbnail j.imagen2 "180" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td> 
                                     {% endthumbnail %}

                                     {% thumbnail j.imagen3 "180" crop="center" as im %}
                                    <td><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/" target="_self"><img  class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> </td>
                                    {% endthumbnail %}                                       
                               
                                </tr>
                          </table></center>                    
                  
                  </div>                  
                        <br>                   
                        <li><a href="/{{j.id_usuario}}/{{j.tienda.nombre_tienda}}/">Ir a la tienda {{j.tienda}}</a></li>
                        <br>
                         
                         

                 <div class="row"> 

                    <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href="https://api.whatsapp.com/send?phone=+503{{j.id_usuario}}&text=Detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="90"><a href="tel://+503{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                   
                                </tr >
                        </table>
                        </center>    

                        {%  if user.is_authenticated and user.username == j.id_usuario or user.is_authenticated and user.username == j.administrador_junior or user.is_authenticated and user.username == j.administrador_junior_1 or user.is_authenticated and user.username == j.administrador_junior_2 %}    
                                  
                <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">{{j.estado_tienda}}  <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/DISPONIBLE/">DISPONIBLE</a></li>
    <li><a href="/cambiar_estado_tienda/{{user.username}}/{{j.id}}/NO_DISPONIBLE/">NO_DISPONIBLE</a></li>    
  </ul>
</div>

{% endif %}  

                 </div>

                    <p>Ingreso el {{j.fecha_ingreso}}</p> 
                                          
                  </div>
           
          </div>   
            {% endif %}  
              <hr>
                   
         {% endfor %} 
       
</div>


<!--##########################################################################################-->
<!--##########################################################################################-->
<!--##########################################################################################-->


<div class="row">
          {% for j in aleatorias_comercio %} 
               <div class="col-md-3">   
                     <div class="thumbnail">                      
                      <li><a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}">{{j.nombre_ccomercial}}</a></li>
                                 
                             {% thumbnail j.imagen_ccomercial "360" crop="center" as im %}
                              <a href="/centro_comercial/{{j.id_usuario}}/{{j.nombre_ccomercial}}" target="_blank"><img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a> 
                               {% endthumbnail %}   
                        
                        <br>
                        <center><p>{{j.descripcion_ccomercial | linebreaks}} </p>  </center>
                        <br>
                         
                               
                    </div>
               
                                                                                                  
                </div>
                       <hr>
       
            {% endfor %}   
 </div>


<!--   quita este parar color de fondo -->
</div>
</div>



 {% endblock %}
