{% extends "base_tienda.html" %}
{% load staticfiles %} 
{% load thumbnail %}


{% block body_extra %}

<div class="alert alert-danger">

<center><p><button onclick="calcular()">Calcular</button>  </p></center>

<center><form action="/agregar_lista_de_compra_al_carrito/{{producto.id}}/" method="post">
                       {% csrf_token %}                    
<table id="miTabla" BORDER="1" CELLSPACING="1" >
    <thead>
        <tr align="center">               
            
            <center><th WIDTH="15"><h5>U</h5></th></center>
            <center><th WIDTH="200"><h5>Descripción</h5></th></center>        
            <center><th WIDTH="15"><h5>$ P/U</h5></th></center>
            <center><th WIDTH="15"><h5>Cant</h5></th></center>
            <center><th WIDTH="20"><h5>Total</h5></th></center>            
        </tr>
        
    </thead>






    <tfoot>
        <tr align="center">
           
            <center><td WIDTH="15"></td></center>
            <center><td WIDTH="200">Total</td></center>
            <center><td WIDTH="15"></td></center>
            <center><td WIDTH="15">$</td></center>           
            <center><td WIDTH="20"></td></center>
           

        </tr>
    </tfoot>

    <tbody>
        
{% for i in vector %}
        <tr align="center">
            
            <center><td WIDTH="15">{{i.1}}</td></center>
            <center><td WIDTH="200"><h5>{{i.2}}</h5></td></center>
            <center><td WIDTH="15">{{i.3}}</td></center>            
            <center><td WIDTH="15"><input type="number" id="name" name="{{ forloop.counter0 }}" size="2" value="0" min="0"  required style="width: 2em;"></td></center>           
            <center><td WIDTH="20"></td></center>
        </tr>
{% endfor %}
   </tbody>

</table> 

<br>
<center>

<textarea name="especificacion_adicional"  placeholder= "Quiere agregar algo?  Quiere servicio a domicilio?, especifique dia, hora, direccion de entrea (se le notificará si hay algun cambio), el servicio delivery tiene un costo de $0.99, varia segun la distancia."  rows="3" cols="30"></textarea>

<select class="form-control input-sm"  name="delivery" value="Envieme el pedido por Go! Delivery" style="font-size:10pt;width:300px;background-color:white;color:blue;">                                                     
            <option value="Envieme el pedido por Go! Delivery">Envieme el pedido por Go! Delivery</option>
            <option value="Prepare el pedido, pasaré por el">Prepare el pedido,pasaré por el</option>
            <option value="Prepare el pedido, lo consumiré alli">Prepare el pedido, lo consumiré alli</option>
            
</select> 
<br>
<hs>
<p><h6>Especifique fecha y hora de entrega</h6> </p>
<br>
<input type="date" name="fecha_entrega" >
<br>
<input type="time" name="hora_entrega" >   

    <br>  
  <textarea name="direccion_de_entrega"  placeholder= "A donde le llevamos su pedido?, costo minimo $0.99"  rows="3" cols="30"></textarea>
<br>
<hs>
<input type="submit" value="Realizar la compra" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
</center>

<br>                                                                                                
</form> </center>


<div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Hola</h4>
                              </div>
                              <div class="modal-body">
                                <p>Producto agregado a la lista</p>
                              </div>
                              <div class="modal-footer">
                             <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Ok.</button>-->
                              </div>
                            </div>
                          </div>
  </div>
</div>






{% endblock %}
{% block extra_js %}

<script>

// generamos el evento para el boton
document.querySelector("button").addEventListener("click",calcular);
/**
 * funcion que realiza los calculos
 */

function calcular() {
    /** sumamos las filas **/
    // obtenemos todas las filas del tbody
    const filas=document.querySelectorAll("#miTabla tbody tr");
    // bucle por cada una de las filas
    filas.forEach((fila) => {
        // obtenemos los tds de cada fila
        const tds=fila.querySelectorAll("td");
        const inp=fila.querySelectorAll("input");

        let total=0;
        // bucle por cada uno de los tds con excepcion el primero (producto) y ultimo (total)           

        //var x= document.getElementById('name').value
        //total=parseFloat(tds[5].innerHTML)* x;

        total=parseFloat(tds[2].innerHTML)* parseFloat(tds[3].querySelector('input').value);
        //tds[0],tds[1],tds[2],tds[3]             

        tds[tds.length-1].innerHTML=total.toFixed(2);
    });
    /** sumamos las columnas **/
    // obtenemos el numero de columnas
    const columnas=document.querySelectorAll("#miTabla thead tr th");
    // obtenemos las fila de los totales
    const totalFila=document.querySelectorAll("#miTabla tfoot tr td");
    // bucle por cada una de las columnas excepto la primera
    for(let i=columnas.length-1; i<columnas.length; i++) {
        let total=0;

        // obtenemos el valor de cada una de las filas
        filas.forEach((fila) => {
            total+=parseFloat(fila.querySelectorAll("td")[i].innerHTML);
        });
        // mostramos el total en la ultima fila
        totalFila[i].innerHTML=total.toFixed(2);
    }
}

</script> 


{% endblock %}


       

