{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}
{% block content %}
      



     <div class="alert alert-info">

      <h2><center> Lo sentimos. :(</center></h2>
        <br>
       <h4><center> <font color="red">{{mensaje}} </font> </center></h4>
        <br>

       <h4><center><a href="/accounts/login">Entra AQUI.! </a></center></h4>
         <br>

           

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>Por el momento esta accion no esta permitida !!</center></h4> 
                    <h4><center>Has olvidado tu contraseña ?  !!</center></h4> 
                       <center><p>Comunicate con Detodonegocio, te ayudaremos</p></center>
                        <center><p>Nuestro Whatsapp es: 78218224</p></center>
                        <center><p>buscanos en facebook como DETODONEGOCIO </p></center>
                        
                       <br>
                         <br>
                        <li><a href="/">Regresar a pagina principal </a></li>

                       <br>
                                     
                    
                  </div>                  
                   

                
                  
                </div>
            </div>


          </div>

        </div>
  </div>
        
      

{% endblock %}