{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %} 
{% block content %}
     
<div class="panel panel-info">
      <div class="panel-heading">
        

      

<div class="row">  
<div class="col-md-12">  
                                    
  
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Ver pedidos que
          <span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">

          <li><a href="/ver_el_carrito/QUIERO_PEDIR_ESTO/EL_VENDEDOR">EL CLIENTE QUIERE</a></li>
            <li><a href="/ver_el_carrito/EL_VENDEDOR_RECIBIO_EL_PEDIDO/EL_VENDEDOR">EL CLIENTE ESPERA CONFIRMACION</a></li>
            <li><a href="/ver_el_carrito/EL_VENDEDOR_A_CONFIRMADO/EL_VENDEDOR">EL CLIENTE ESPEAR A RECIBIRLO
            <li><a href="/ver_el_carrito/PRODUCTO_ENTREGADO/EL_VENDEDOR">EL CLIENTE DEBE ACEPTAR QUE RECIBIO</a></li>
            <li><a href="/ver_el_carrito/TODOS/EL_VENDEDOR">TODOS</a></li>

            <li><a href="#">---------------</a></li>

            <li><a href="/ver_el_carrito/QUIERO_PEDIR_ESTO/EL_COMPRADOR">LOS QUE YO QUIERO</a></li>
            <li><a href="/ver_el_carrito/EL_VENDEDOR_RECIBIO_EL_PEDIDO/EL_COMPRADOR">ESPERO CONFIRMACION </a></li>
            <li><a href="/ver_el_carrito/EL_VENDEDOR_A_CONFIRMADO/EL_COMPRADOR">ESPERO POR RECIBIRLOS</a></li>
            <li><a href="/ver_el_carrito/PRODUCTO_ENTREGADO/EL_COMPRADOR">LOS QUE YA RECIBI</a></li>
            <li><a href="/ver_el_carrito/TODOS/EL_COMPRADOR">TODOS</a></li>

            

            
           </ul>
        </div>
          
</div>
</div>


                             


<br>

            <div class="row">
                          
       
        {% for i in carrito %} 

        
            <div class="col-md-3">
                <div class="thumbnail">  
                   
                      {% if i.estado_prod == 'QUIERO_PEDIR_ESTO' %}
                            <table BORDER="3" CELLSPACING="5"  bordercolor="Red ">  
                      {% elif i.estado_prod == 'EL_VENDEDOR_RECIBIO_EL_PEDIDO' %}
                            <table BORDER="3" CELLSPACING="5"  bordercolor="Orange"> 
                      {% elif i.estado_prod == 'EL_VENDEDOR_A_CONFIRMADO' %}
                            <table BORDER="3" CELLSPACING="5"  bordercolor="Green"> 
                      {% elif i.estado_prod == 'PRODUCTO_ENTREGADO' %}
                            <table BORDER="3" CELLSPACING="5"  bordercolor="Turquoise"> 
                      {% else %}
                            <table BORDER="3" CELLSPACING="5"  bordercolor="MediumBlue">    
                      {% endif %}  
                 
                  
                  <tr  align="center"> 
                          

                 
                     {% if i.mostrar_foto == 'MOSTRAR_F_UNO' or i.mostrar_foto == 'MOSTRAR_F_TODAS'  %}       
                     <td>                          
                       {% thumbnail i.producto.imagen1 "90" crop="center" as im %}
                                   <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">     
                                               
                      {% endthumbnail %}
                    <td>    
                     {% endif %} 



                    {% if i.mostrar_foto == 'MOSTRAR_F_DOS' or i.mostrar_foto == 'MOSTRAR_F_TODAS' %}

                    <td >                          
                       {% thumbnail i.producto.imagen2 "90" crop="center" as im %}
                                   <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">     
                                               
                      {% endthumbnail %}
                    <td>
                     {% endif %} 

                     

                    {% if i.mostrar_foto == 'MOSTRAR_F_TRES' or i.mostrar_foto == 'MOSTRAR_F_TODAS' %}
     
                    <td>                           
                       {% thumbnail i.producto.imagen3 "90" crop="center" as im %}
                                   <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">     
                                               
                      {% endthumbnail %}
                    </td>   
                     {% endif %}  
                    
 </tr >
                        </table>
                        </center> 



 

                       

                      <h6><p>{{ i.producto.tienda.nombre_tienda }} -> {{i.producto.id_usuario}} </p>  </h6>
                      <h6><p>cliente -> {{i.nombre_comprador}} --> {{i.id_comprador}} </p>  </h6>
                      <h6><p> Cant. {{ i.cantidad }} {{ i.producto.nombre }}  $P/U = {{ i.producto.precio_A}}  </p>  </h6>          
                      <h6><p>{{ i.especificacion }}  </p> </h6>
                      <h6><p>{{ i.estado_prod }}  </h6>
                      <h3><p>Total {{ i.total }}  </h6>
                      <h6><p>fecha {{ i.fecha_ingreso }}  </h6>

    {% if el_usuario_x == "EL_COMPRADOR" %}
              
              {% if i.estado_prod == "QUIERO_PEDIR_ESTO" %}
                        <h6><li><a href="/editar_producto_del_carrito/{{i.id}}" > Editar </a></li>
                        <li><a href="/eliminar_producto_del_carrito/{{i.id}}" > Eliminar </a></li>
                        <br>                        
                        <center><a href="/realizar_compra_individual/{{i.id}}" class="btn btn-info" role="button">Comprar</a></center>
               <br> 

              {% elif i.estado_prod == "PRODUCTO_ENTREGADO" %}
                      <h6><li><a href="/editar_estado_producto_del_carrito/{{i.id}}/EL_COMPRADOR" > Cambiar estado </a></li>
              {% else %}
                
              {% endif %}    

              <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href="https://api.whatsapp.com/send?phone={{i.producto.id_usuario}}&text=Detodo_negocio_Hola%2C%20deseo%20informacion%20de%20{{i.producto.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>    

                                    <td WIDTH="90"><a href="tel://+{{i.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                   
                                </tr >
                        </table>
                        </center> 

      
    {% elif el_usuario_x == "EL_VENDEDOR" %}

              
 
              {% if i.estado_prod == "EL_VENDEDOR_RECIBIO_EL_PEDIDO"  or i.estado_prod == "EL_VENDEDOR_A_CONFIRMADO"   %}
                      <h6><li><a href="/editar_estado_producto_del_carrito/{{i.id}}/EL_VENDEDOR" > Cambiar estado </a></li>
              {% else %}
                
              {% endif %} 

              <center> 
                        <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="90"><a href="https://api.whatsapp.com/send?phone={{i.id_comprador}}&text=Hola%2C%20rs_un_placer%20hacer_negocio%20con%20usted" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>    

                                    <td WIDTH="90"><a href="tel://+{{i.id_comprador}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    {{i.producto.tienda.nombre_tienda}}
                                   
                                </tr >
                        </table>
                        </center> 

    {% else %}

    

    {% endif %}

                   
                     

                            {% if i.estado_prod == 'QUIERO_PEDIR_ESTO' %}
                                <button  class="btn btn-danger">EL CLIENTE QUIERE</button>
                                <button  class="btn btn-warning btn-xs">x</button>
                                <button  class="btn btn-success btn-xs">x</button>
                                <button  class="btn btn-info btn-xs">x</button>
                                <button  class="btn btn-primary btn-xs">x</button>                              
                           
                            {% elif i.estado_prod == 'EL_VENDEDOR_RECIBIO_EL_PEDIDO' %}
                               <button  class="btn btn-danger btn-xs">x</button>
                                <button  class="btn btn-warning">EL CLIENTE COMPRÓ</button>
                                <button  class="btn btn-success btn-xs">x</button>
                                <button  class="btn btn-info btn-xs">x</button>
                                <button  class="btn btn-primary btn-xs">x</button>
                            {% elif i.estado_prod == 'EL_VENDEDOR_A_CONFIRMADO' %}
                                 <button  class="btn btn-danger btn-xs">x</button>
                                <button  class="btn btn-warning btn-xs">x</button>
                                <button  class="btn btn-success">EL VENDEDOR ACEPTA</button>
                                <button  class="btn btn-info btn-xs">x</button>
                                <button  class="btn btn-primary btn-xs">x</button>
                            {% elif i.estado_prod == 'PRODUCTO_ENTREGADO' %}
                                 <button  class="btn btn-danger btn-xs">x</button>
                                <button  class="btn btn-warning btn-xs">x</button>
                                <button  class="btn btn-success btn-xs">x</button>
                                <button  class="btn btn-info ">EL PRODUCTO ESTA LISTO</button>
                                <button  class="btn btn-primary btn-xs">x</button>
                            {% else %}
                                <button  class="btn btn-danger">x</button>
                                <button  class="btn btn-warning">x</button>
                                <button  class="btn btn-success">x</button>
                                <button  class="btn btn-info">x</button>
                                <button  class="btn btn-primary">PRODUCTO ENTREGADO</button> 
                            {% endif %} 





                            


                      


                    


                 
                   <br>     
                             
                    </div>
            </div>               
                {% endfor %}
                        
    <br>
    <div class="row">  
          <div class="col-md-12">           
                <div class="container">
                <center><h2><p> ${{gran_total}}</p></h2></center>
                <br>                  
                <a href="/realizar_compra" class="btn btn-info" role="button">Comprar todo esto</a>
                                        
                </div>                                                    
          </div>       
    </div>     
    <br>

       <div class="row">  
          <div class="col-md-12">           
                <div class="container">
                <p>Al precionar el boton de comprar El propietario de esta tienda recibira un mensaje con informacion de su pedido,
                el contactara con usted para ultimar detalles sobre el producto o servicio, forma y lugar de pago y entrga.</p>
                                        
                </div>                                                    
          </div>       
    </div>                          
                         <br> 
                             <h2><center>Total a pagar </center></h2>
                              
                         <br>

                             
                              <br>
                              <div class="row"> 

                    <center>
                 <table BORDER="0" CELLSPACING="1">
                                <tr  align="center">

                                    <td WIDTH="60"><a href="https://api.whatsapp.com/send?phone={{j.id_usuario}}&text=Hola%2C%20deseo%20informacion"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://{{j.id_usuario}}"><img src='{% static "llamar.png" %}' alt='img'/></a></td>
                                    
                                    <td WIDTH="60"><a href="https://m.me/j.facedireccion"><img src='{% static "mesenger.png" %}' alt='img'/></a></td>
                                </tr >
                        </table>
                        </center>

                 </div>
                              
                              
                                                                 
               
            
          </div>



      </div>


    <div class="panel-body">
    

        </div>
  </div>
   

{% endblock %}